[2019-08-12 11:38] felislynx-silae opened #2 "Incompatible with JVM 1.8"
If in build.gradle i have

[code]

I'll get this error if i'll try to do imageView.load("url")

[2019-08-12 11:58] Stonos opened #3 "Coil leaks Activity Context when an Activity with an ongoing request is destroyed"
**Describe the bug**
Coil causes a memory leak when `finish()` is called on an Activity that has an ongoing request.

**To Reproduce**
Download & run the attached project:
[CoilMemoryLeak.zip](https://github.com/coil-kt/coil/files/3492166/CoilMemoryLeak.zip)

`ActivityA` tries to load an "image" from a URL that takes 60 seconds to respond. If you click the "Go to Activity B" button during that tim

[2019-08-12 12:01] Stonos commented on #2
According to https://coil-kt.github.io/coil/getting_started/ you also need to add the following to your build.gradle:

[code]

[2019-08-12 13:45] lawloretienne opened #4 "Image Sampling not working as shown in the README preview gif"
**Describe the bug**
I tried to set up image sampling the way it is described in :

https://coil-kt.github.io/coil/getting_started/#image-sampling

but I don't see any low-res image loaded with a crossfade effect to the high-res image.

**To Reproduce**

[code]

I am loading images in a `RecyclerView.Adapter`.

**Expected behavior**
A crossfade effect from low to the high res image.

**Logs/Screen

[2019-08-12 14:01] lawloretienne commented on #4
I guess you have to specify the duration

[code]

but this doesn't have the cool pixelated effect that is in the gif.

[2019-08-12 16:31] Gryzor commented on #4
@lawloretienne the gif is intentionally slowed down to _see_ the effect (or so it says there):

[2019-08-12 17:15] afollestad commented on #3
Yeah the jobs should be scoped. You should listen to the attach state of views that are being loaded into - when they are detached you should cancel the job.

[2019-08-12 19:09] colinrtwhite commented on #2
Yep, you'll need to enable Kotlin's `jvmTarget = "1.8"`. D8 should be able to desugar all the APIs if your minSdk is below 24.

[2019-08-12 19:09] #2 closed

[2019-08-12 19:12] colinrtwhite commented on #3
Thanks for the sample project! Coil sets up a `LifecycleObserver` for any load requests that should kill any in-flight requests when the associated View is detached or the closest `Lifecycle`'s onDestroy is called. I'll take a look into this later tonight (PST).

[2019-08-12 19:16] colinrtwhite commented on #4
@lawloretienne It's expected behaviour to not see the image sampling effect on first load. The image sampling only comes into play when Coil has already loaded the image into memory at a smaller size than necessary. Next time that data is requested, it'll use that smaller image as a placeholder and fire off a new request to load the image at a greater size.

[2019-08-12 21:06] afollestad commented on #3
It could be - ideally it'd be automatic so boiler plate is unnecessary. E.g. on the `load` extension method it knows what view it's loading for and can set an attach state listener to that view.

[2019-08-12 21:07] afollestad commented on #3
This is especially vital for something like views in a `RecyclerView` since views are constantly detaching and attaching as the user scrolls. Glide is an example of the result of doing this right.

[2019-08-12 21:13] colinrtwhite commented on #3
Coil also listens for detach events on any `ViewTarget`s and restarts the request when the `View` is reattached - similar to Glide. This is handled automatically.

[2019-08-12 22:22] FrostRocket opened #6 "Enable native support for SVG format without boilerplate"
Currently using Glide to load SVG images and the implementation is quite clunky in order to do so. See: https://stackoverflow.com/questions/35507893/does-glide-have-a-method-for-loading-both-png-and-svg

As a fresh new library hot off the presses, I'd like to see Coil gracefully (and optimally) handle these file formats without a ton of boilerplate.

EDIT: WebP is already supported, so this enhanc

[2019-08-13 01:06] afollestad commented on #3
Gotcha, haven't looked into everything too much yet so apologies for the ignorance lol.

Excited for this project though, congrats on the release!

[2019-08-13 02:52] lawloretienne commented on #4
i changed to

[code]

and still dont see the image sampling effect even on loads after the first load.

[2019-08-13 03:28] colinrtwhite commented on #4
@lawloretienne Is `image` a Drawable? The effect currently only works for images that can be cached in the memory cache, which is URLs, Files, and Uris. However, I'm looking to improve that behaviour in a future release.

[2019-08-13 03:29] colinrtwhite commented on #3
No worries! Thanks for trying the library out.

[2019-08-13 03:59] colinrtwhite commented on #6
Android (and Coil) [already supports WebP](https://developer.android.com/guide/topics/media/media-formats) from API 14+. Are you looking for it to support *animated* WebP on pre-P?

For SVGs, I think this might be a good candidate for an external library. However, it should be straightforward to write a custom [Decoder](https://coil-kt.github.io/coil/api/coil-base/coil.decode/-decoder/) for this u

[2019-08-13 04:09] lawloretienne commented on #4
image is a url.

[2019-08-13 05:26] ianhanniballake opened #10 "Support loading images from AssetManager"
**Is your feature request related to a problem? Please describe.**
There's a very specific type of `Uri` on Android in the form of `file:///android_asset/your_asset.jpg` which, despite its `file://` prefix, cannot be opened with `ContentResolver.openInputStream()` but instead must be opened using [`AssetManager`](https://developer.android.com/reference/android/content/res/AssetManager).

This is t

[2019-08-13 05:41] premacck opened #11 "Access tokens in request headers"
**Is your feature request related to a problem? Please describe.**
Thanks for this awesome library! I am trying it out in a project currently.
However, I am sending access tokens when loading the images.

[code]

I looked around in the docs but couldn't find anything related to sending tokens in request headers.

**Describe the solution you'd like**
It would be great to have something like this:
`

[2019-08-13 05:42] colinrtwhite commented on #10
Interesting! `imageView.load(String)` is currently reserved for HTTP URLs, but we could support `imageView.load(Uri.parse("file:///android_asset/starrynight.jpg"))` instead. I think we could make the necessary changes in `UriFetcher`. I'll make a quick PR.

[2019-08-13 05:52] FrostRocket commented on #6
I am currently using SVGDecoder via Glide, so it wasn't a heavy lift to add some of the sample code you wrote and try it out myself. From what I can tell, it's decoding the SVG fine, but they don't appear to be scaling correctly within the ImageView bounds.

Before:

`@GlideModule
class SvgModule : AppGlideModule() {
    override fun registerComponents(context: Context, glide: Glide, registry: Reg

[2019-08-13 07:08] colinrtwhite commented on #11
The current recommended way to add headers to your requests is to add an [OkHttp Interceptor](https://square.github.io/okhttp/interceptors/) when building your [ImageLoader](https://coil-kt.github.io/coil/api/coil-base/coil/-image-loader-builder/).

I agree this doesn't work best for defining headers for one request only. Going to think on the design a little bit, but something like this sounds re

[2019-08-13 07:32] s3770992 opened #13 "Unable to view images loaded in RecyclerView"
**Describe the bug**
A clear and concise description of what the bug is.
When images are loaded with URLs in a RecyclerView, the RecyclerView is still blank. I believe this could be because after the image is retrieved, there is no call to remeasure/invalidate/notify the view.

**To Reproduce**
How can we reproduce this?
1. Create a Single page application with a RecyclerView and a ViewHolder cont

[2019-08-13 07:33] colinrtwhite commented on #3
Was able reproduce this with the sample application. I've verified that Coil is calling the OkHttp `Call.cancel` API as soon as the lifecycle is destroyed, however the `Request` object is being held onto longer than needed. Going to keep looking tomorrow.

[2019-08-13 07:33] #13 closed

[2019-08-13 07:38] Taresin opened #14 "Unable to view images loaded in RecyclerView"
**Describe the bug**
When images are loaded with URLs in a RecyclerView, the RecyclerView is still blank. I believe this could be because after the image is retrieved, there is no call to remeasure/invalidate/notify the view.

**To Reproduce**
Create a Single page application with a RecyclerView and a ViewHolder containing an ImageView.
Load up an image into the ImageView
Code snippet below:
[code

[2019-08-13 07:39] Taresin commented on #14
Sorry, I created the first accidentally while logged in to my college account. Scared it might not be taken seriously since it doesn't really have a proper account.

[2019-08-13 09:26] igorwojda opened #16 "Unable to access `get` methods"
**Describe the bug**
I am using `io.coil-kt:coil-base` because I want to take advantage of DI.

However, I am not sure how to use `ImageVIew`. There seems to be some IDE wired behavior where `get` methods are visible in code completion but missing in the actual code.

**To Reproduce**
How can we reproduce this?

[code]

Code completion seems to show all posibilitie overloads (inclusing `ImageView`

[2019-08-13 09:31] vegeta2102 opened #17 "Coil with caching"
**Is your feature request related to a problem? Please describe.**
Can you write something doc or example about usage of cache image with Coil ?
I really consider about cache image in Android ( Just refer to Glide cache at link : https://bumptech.github.io/glide/doc/caching.html#cache-keys )

[2019-08-13 10:08] GeniusRUS opened #18 "GIF-image not displayed properly"
**Describe the bug**
When displaying GIF images, previous frames are not deleted

**To Reproduce**
1. Add `io.coil-kt:coil-gif` to dependencies
2. Try to load this GIF-file:
![success](https://user-images.githubusercontent.com/24453308/62932870-05d2e580-bdd2-11e9-833a-87d26d36c3b2.gif)
3. GIF is loaded and animating but it's noticeable that the image layers remain and do not disappear (static scre

[2019-08-13 10:24] GeniusRUS opened #19 "Crash app when loading GIF on Android 9.0"
**Describe the bug**
Crash on Android 9.0 when loading GIF-image

**To Reproduce**
1. Add `io.coil-kt:coil-gif` to dependencies
2. Try to load this GIF-file:
![success](https://user-images.githubusercontent.com/24453308/62932870-05d2e580-bdd2-11e9-833a-87d26d36c3b2.gif)
3. Image will freeze at start frame
4. After ~2 seconds crash will happened

**Expected behavior**
GIF picture will load and move

[2019-08-13 12:42] Stonos opened #20 "ImageView with one of its dimensions set to wrap_content does not work"
**Describe the bug**
Assume the following ImageView:
[code]
If you try to load an image to it, Coil will not calculate the correct width (based on the ImageView's fixed height and the aspect ratio of the image being loaded), and the ImageView will end up with a 0 width.

Using `size()` solves this issue, but it is not ideal because it is not always possible to know beforehand the dimensions of the

[2019-08-13 15:18] Jawnnypoo commented on #18
Confirmed, I do see this behavior on an Android API 27 emulator as well

[2019-08-13 16:26] ianhanniballake commented on #10
`load(Uri)` support would be great, thanks!

It seems like in other image loading libraries, `load(uri: String) = load(Uri.parse(uri))` in all cases and they share the same underlying processing. This ensures that no matter if developers use a `String` or `Uri`, the same rules apply, avoiding all cases where developers need to remember to `htmlUri.toString()` or `Uri.parse(contentUriString)`. Prob

[2019-08-13 16:38] isfaaghyth commented on #17
are you looking for this one?
https://github.com/coil-kt/coil/blob/master/docs/faq.md

[2019-08-13 17:02] franciscoaleixo commented on #17
Also, does Coil have a multi-layered cache and does it support transformation caching? I.e., does it ever cache to memory, besides disk? Does it cache transformed images? These are very important things (to me) that would be really useful (and present in Glide, for example).

[2019-08-13 18:20] colinrtwhite commented on #16
Have you added `import coil.api.get`? The type-safe `ImageLoader` functions are extension functions since they're essentially "sugar" on top of the base `ImageLoader` APIs.

[2019-08-13 18:51] khaleeljageer opened #21 "How to CustomTarget<Bitmap> Listener"
Trying to implement Coil on my existing application where Glide already using.
Need to achieve this...

        val bitmapTarget = object : CustomTarget<Bitmap>(DeviceUtils.dpToPx(282), DeviceUtils.dpToPx(159)) {
            override fun onLoadCleared(placeholder: Drawable?) {

            }

            override fun onResourceReady(resource: Bitmap, transition: Transition<in Bitmap>?) {

[2019-08-13 18:53] colinrtwhite commented on #18
Thanks for the report! Looks like it's probably and alpha issue. Going to tag this as help wanted in case someone else wants to tackle it, but I'll also take a look asap.

[2019-08-13 19:19] colinrtwhite commented on #21
The recommended way to do this is cast the returned `Drawable` to a `BitmapDrawable`. Glide does this cast internally when you call `asBitmap`:

[code]

[2019-08-13 19:19] #21 closed

[2019-08-13 20:46] colinrtwhite commented on #20
Good catch! I think this is because we force `PixelSize`'s dimensions to be > 0. Relaxing that limitation to >= 0 should solve the issue, but might cause side-effects. Going to work on this later tonight.

[2019-08-13 20:48] colinrtwhite commented on #19
Thanks for the report. My gut feeling says this is an issue with Android's [ImageDecoder](https://developer.android.com/reference/android/graphics/ImageDecoder), but will explore further.

As a work-around I would use `GifDecoder` for all API levels at the moment.

[2019-08-13 20:53] colinrtwhite commented on #17
I added a section about disk caching to the FAQ here: https://coil-kt.github.io/coil/faq/#how-do-i-set-up-disk-caching

Coil does not support writing `Transformations` back to the disk cache - they're only cached in memory. This let's us remove a lot of complexity that exists within Glide and let's us avoid re-implementing OkHttp's disk cache.

Coil keeps an in-memory cache for `BitmapDrawables`,

[2019-08-13 20:53] #17 closed

[2019-08-13 20:56] colinrtwhite commented on #10
Good point. Currently, Coil uses `url` as the named param for `load(String)` so we'd have to change that to something more general (but hopefully not too general like `data`), but I like the idea of supporting Uris *and* Urls via `load(String)`. We could do this by writing a new `Mapper` or modifying `HttpUrlMapper`.

[2019-08-13 21:16] igorwojda commented on #16
thx - your suggestion worked.

I use auto import and imports are usually added on the fly. This case, however, is different and it looks like Kotlin plugin bug to me (mainly because this import should be added automatically and if not there should be a quick fix to add it).
Reported to Kotlin issue tracker
https://youtrack.jetbrains.com/issue/KT-33318

[2019-08-13 21:16] #16 closed

[2019-08-13 21:35] colinrtwhite commented on #14
Do you have `adjustViewBounds` set on your `ImageView`? Is one of your dimensions set to `wrap_content`? Sounds like the same issue as https://github.com/coil-kt/coil/issues/20.

[2019-08-13 22:30] blazeroni opened #22 "Forcing JVM target 1.8 causes incompatibility with Android SDK < 24"
**Describe the bug**
Since Coil uses JVM target 1.8, this must be used in the application project as well.  However, setting that target JVM can cause the Kotlin compiler to generate byte code that incompatible with Android SDK versions less than 24.  See https://youtrack.jetbrains.com/issue/KT-19968.

**To Reproduce**
Use code similar to the code in the linked Kotlin issue.  Try to run on a devic

[2019-08-13 22:40] colinrtwhite commented on #22
Which Android Gradle Plugin version are you using? I believe if you're using the latest stable version (`3.4.2`) or greater D8 should be able to desugar the hashCode methods.

Coil follows suite from OkHttp, which [added this requirement](https://square.github.io/okhttp/upgrading_to_okhttp_4/#gradle) a few months ago.

[2019-08-13 23:18] #22 closed

[2019-08-13 23:20] blazeroni commented on #22
Ah, we're using `3.4.0`.  Thanks for the heads up!

[2019-08-14 01:20] diousk opened #23 "Support animated-WebP for all API level"
In our projects with minimal API 21,
we use fresco library to load an amount of animated-webp
(from local file in assets and also from url)

I can see there's a GifDecoder for gif decoding/loading for all API level.
Would Coil support a decoder like WebPDecoder prior to Android P?

[2019-08-14 03:53] vegeta2102 commented on #17
@colinrtwhite
I have looked into . Thanks!
https://github.com/coil-kt/coil/blob/master/docs/faq.md

btw, does Coil support setting up memory cache for specific image ?
If we configure image cache  as above URL. It'll be affect all .

[2019-08-14 06:16] colinrtwhite commented on #17
@vegeta2102 You can disable memory caching on a per-request basis like this:

[code]

[2019-08-14 06:18] #10 closed

[2019-08-14 06:23] colinrtwhite opened #24 "Support loading Uri Strings"
**Is your feature request related to a problem? Please describe.**
Currently `load(String)` must always be a valid URL, but we could support automatically switching between `Uris` and `HttpUrls`.

**Describe the solution you'd like**
This should load the file/asset Uri correctly:

[code]

**Additional context**
Glide and Picasso already handle this.

Previous discussion: https://github.com/coil-kt

[2019-08-14 06:23] colinrtwhite commented on #10
Created a new issue to support parsing Strings as Uris here: https://github.com/coil-kt/coil/issues/24

[2019-08-14 07:20] colinrtwhite commented on #23
Unfortunately, this isn't very straightforward to support. Fresco uses native libraries to load animated WebP images on pre-Android P, which I'm against adding to the Coil main repo.

I think this would be a good candidate for an external repository that depends Coil. If anyone writes a `Decoder` for this, let me know and I'll add it to the documentation.

[2019-08-14 07:20] #23 closed

[2019-08-14 07:29] colinrtwhite commented on #6
You should try to re-use `ImageLoader`s as much as possible - similar to `OkHttpClient`s. From your stack trace it looks like you're instantiating new `ImageLoader`s, but not calling `ImageLoader.shutdown()` when you're done with them.

Adding `SvgDecoder` to your `ImageLoader`'s component registry should automatically handle any new SVGs (assuming the file ends with `.svg`) without having to spec

[2019-08-14 07:34] MarkMjw opened #25 "Support loading frame image from video"
**Is your feature request related to a problem? Please describe.**
* 1. The album list has pictures and videos, but the `load(file)` method cannot load the video cover.
* 2. I have a need to show video sequence frames, but there is no better way now.

**Describe the solution you'd like**
`Glide` is very compatible with image and video files. Loading video sequence frames is also very convenient，su

[2019-08-14 07:56] lfielke opened #27 "Add support for loading placeholder image from cache via URL"
First up, congrats on shipping!

A feature request for consideration. Sometimes an app will show a list of small image thumbnails, which are clickable to open the image full screen. The thumbnails are physically small (in dimension and file size) so the list of thumbnails loads quickly. The full images (loaded from a different URL to the thumbnail) are much bigger, so might take a few seconds to l

[2019-08-14 07:57] colinrtwhite commented on #18
Just pushed a fix. Snapshots aren't currently enabled for Coil, but I'll set them up this week. If you need the fix ASAP, you can checkout the repo and run `./install_archives.sh` to install the artifact to your `mavenLocal()`.

[2019-08-14 08:04] #18 closed

[2019-08-14 08:24] colinrtwhite commented on #4
@lawloretienne Hmm I'm not able to reproduce. I used your test image in the sample app and the smaller placeholder is set synchronously. The larger image crossfades in when the request completes.

If you're running the sample app locally, the image sampling effect isn't nearly as visible as in [the GIF](https://coil-kt.github.io/coil/getting_started/#image-sampling). Note: *Images in the list have

[2019-08-14 09:01] colinrtwhite commented on #19
Confirmed that it's an issue with Android's `ImageDecoder` APIs and not Coil. I filed a bug with a project that reproduces the issue (without Coil) on the Android bug tracker [here](https://issuetracker.google.com/issues/139371066).

To work around this crash, I would only register `GifDecoder` for all API levels.

[2019-08-14 09:01] #19 closed

[2019-08-14 11:27] hardbobby opened #28 "TooManyRequestsException"
**Describe Bug**
To ManyRequest Exception on scroll recyclerview

**Reproduce**
Create recyclerview with the adapter using image url and scrolling from top list to bottom list with repeatedly

**Error Message**

        at android.net.ConnectivityManager.convertServiceException(ConnectivityManager.java:2888)
        at android.net.ConnectivityManager.sendRequestForNetwork(ConnectivityManager.java:

[2019-08-14 14:22] Jawnnypoo commented on #28
You will want to create a single `ImageLoader` outside of the RecyclerView adapter and set it as the default via `Coil.setDefaultImageLoader`, potentially in your `Application.onCreate`. See the sample for an example setup.

[2019-08-14 14:22] #28 closed

[2019-08-14 21:29] colinrtwhite commented on #27
Thanks! I've thought about adding a `placeholder(data)` method, however have shied away from it so far. Adding it would create more work on the main thread, which could reduce performance. Also, it could result in some unexpected behaviour where you expect something to be in the memory cache and it isn't.

[2019-08-14 21:33] colinrtwhite commented on #25
This is a good candidate for a custom `Decoder`. However, we'll need to augment the `Options` class to pass in generic keys to the image pipeline (so we can support a video timestamp).

[2019-08-14 23:17] lfielke commented on #27
Good points. It sounds like what I'm talking about isn't really a "placeholder", because Coil assumes that placeholders are available straight away, synchronously on the main thread. Have I understood that correctly?

Thinking about this overnight, could you do two `loads` one-after the other, the first one loading the thumbnail URL but specifying a read only cache policies?

Something like this:

[2019-08-15 01:39] Taresin commented on #14
@colinrtwhite Thanks for the quick response. In my demo it was a programmatically generated `ImageView`.
`adjustViewBounds` was not set. Yep. The bug happens when any of the dimensions are set to `wrap_content`. I believe it could be the same issue as #20

[2019-08-15 07:40] colinrtwhite commented on #27
Ah I see what you mean. This would add a decent chunk of complexity to `RealImageLoader` so I'm not sure I'd want to add this in. However, you could create the same effect with `get`:

[code]

Replace `imageLoader` with `Coil` if you use the singleton. To figure out whether or not to crossfade, you can add a `Request.Listener` and check the returned `DataSource` in `onSuccess`.

Disclaimer: the ab

[2019-08-15 07:42] colinrtwhite commented on #14
:+1: Going to close this as I've merged the fix. `0.6.1`, which contains the fix, should be out soon.

[2019-08-15 07:42] #14 closed

[2019-08-15 12:14] bveenvliet commented on #19
I am getting this issue as well on Pixel 2XL running latest Android 9 firmware and can confirm if you use GifLoader it works without crashing.

[2019-08-15 12:56] lawloretienne commented on #4
So if the gif doesnt represent whats happening at normal speeds then why even bother showing it.

[2019-08-15 13:35] Gryzor commented on #4
@lawloretienne because it helps other people understand what is going on, how the effect performs, and perhaps observe more detail that would otherwise get lost at full speed. Geez.

[2019-08-15 15:36] Stonos commented on #20
Unfortunately #29 does not seem to fully solve the issue. On the sample app the ImageView now has a 1:1 aspect ratio instead of the 2:1 [the image being loaded](https://via.placeholder.com/400x200) has:

![image](https://user-images.githubusercontent.com/42659/63106437-7ffa9a00-bf8b-11e9-8814-07e467b87bb0.png)

[2019-08-15 17:17] overpas opened #31 "Crash when loading image into AppCompatImageView"
I attempted to migrate from Glide to Coil in my app. After switching to Coil, the app crashed in runtime as soon as an image was downloaded when it was being set to a `androidx.appcompat.widget.AppCompatImageView` descendant.
May be worth to note, that I'm using this ui library: https://github.com/stfalcon-studio/ChatKit
Could you help me understand what the issue is and if there are any possible

[2019-08-15 18:40] colinrtwhite commented on #31
Do you have `View.LAYER_TYPE_SOFTWARE` set on your `ImageView` or do you know if the library enables software rendering behind the scenes? Either way you should be able to fix this by using:

[code]

This prevents using hardware Bitmaps for that request.

[2019-08-15 18:41] colinrtwhite commented on #19
@bveenvliet Yes, `GifDecoder` should still work fine on Android P and above.

[2019-08-15 18:54] colinrtwhite commented on #20
@Stonos This is because the ImageView is set to `scaleType="fitCenter"`, which will "fit" the image to the smallest dimension, which in this case is 1px. This will cause us to end up loading the image at 1x1. Changing to `scaleType="centerCrop"` or setting `scale(Scale.FILL)` on the request, will load the image in as intended.

I believe this is working as intended, but let me know if this seems u

[2019-08-15 19:04] colinrtwhite commented on #4
@lawloretienne If you'd like to recreate the same effect, you can set the images in your list to low detail using:

[code]

and then set `crossfade(4000)` on your detail `ImageView`.

However, I believe it's better UX if the effect is as subtle to the user as possible (see Instagram). To the user, images seem to be set instantly vs. having to wait for us to reload the image from disk/other data so

[2019-08-15 19:04] #4 closed

[2019-08-15 19:08] Stonos commented on #20
You're right, `centerCrop` works fine!

The reason I thought `fitCenter` would also work is because it works when setting an ImageView's `src` via XML:
![image](https://user-images.githubusercontent.com/42659/63119560-19847480-bfa9-11e9-898b-0cf1ca76d6af.png)

[2019-08-15 20:02] rharter commented on #6
@FrostRocket It doesn't look like you're properly handling scaling.   Both libraries give you the sizing information, you just need to pass it to the SVG library.

[code]

[2019-08-15 20:11] colinrtwhite commented on #6
@rharter Looks good! Minor correction: I would replace `SVG.getFromInputStream(source.inputStream())` with `source.use { SVG.getFromInputStream(it.inputStream()) }`. Coil doesn't automatically close the decoder's source in case a decoder wants to return a Drawable, but continue to read the `source` after returning.

[2019-08-15 20:37] colinrtwhite commented on #20
Ah good point. Looks like `ImageView` uses the parent's dimensions in the case. I think we could do this in Coil, but need to verify. I'd like to keep the same behaviour between `android:src` and `load`. Going to re-open this issue to track.

[2019-08-15 20:46] FrostRocket commented on #6
I'm using a singleton for the ImageLoader (thanks @colinrtwhite) and now accommodating for the size options (thanks @rharter). Performance has greatly improved, but assets are still not resizing properly. Some are "blank" (likely getting a transparent corner of the image), some are blown up, and some are perfect. I'm wondering if there's issues with the metadata on those svgs.

Sample asset that i

[2019-08-15 21:03] rharter commented on #6
Try updating the `documentWidth` and `documentHeight` of the SVG.  I see that the assets that don't work correctly have a huge `width/height` property set on the root element, and the one that works correctly doesn't.  Rendering into a 500x500 viewport when the document is hard coded at 2378x2500 would explain what you are seeing.

[code]

[2019-08-15 21:31] rharter commented on #6
Scratch that, I did some testing and you actually don't want to do that with a `PictureDrawable` (in my app I'm drawing to a custom canvas since I have to use a special paint, so I grab the target size).

When you render to a Picture, it's simply storing drawing commands, not any actual pixels. The `PictureDrawable` will then render that to a **properly sized canvas**, so things should be scaled a

[2019-08-15 21:33] rharter commented on #6
@colinrtwhite I created an external SVG lib, similar to the Gif one, in a [branch on my fork](https://github.com/rharter/coil/tree/rh/svg).  If that's something you'd be open to adding, I'll submit a PR.

[2019-08-16 02:41] FrostRocket commented on #6
SVGs are now being properly rendered in the ImageViews. Thanks for the help @rharter!

Parting thought: it'd be nice to include the SVG decoder (and other custom decoders) in the default ImageLoader, similar to how Retrofit handles Converters via an extra dependency. So it won't bloat the library but allows for additional customization. I'll leave it up to you to decide to investigate this option

[2019-08-16 07:52] overpas commented on #31
Thanks, the `ImageView` has `View.LAYER_TYPE_SOFTWARE` set on it, and indeed `allowHardware(false)` fixes the thing.
Is there a way to apply `allowHardware(false)` on each `LoadRequest` by default globally?

[2019-08-16 08:05] colinrtwhite commented on #31
@overpas Can you describe your use case for disabling hardware Bitmaps globally? Currently, there's no way to do this, as it's bad for performance to globally disable hardware Bitmaps.

[2019-08-16 08:09] colinrtwhite commented on #20
I'm playing with a few different View measurement algorithms in the branch `colin/view_size_experiment`. I'm going to timebox this and ship the current behaviour in `0.6.1`, though it's possible it might change in future versions.

[2019-08-16 08:35] overpas commented on #31
In my use case I can disable the flag `View.LAYER_TYPE_SOFTWARE` on views, but maybe if some 3d-party library that requires the `View.LAYER_TYPE_SOFTWARE` flag is used throughout the code, then there should be a possibility to globally apply `allowHardware(false)` when images are loaded

[2019-08-16 09:37] MenosGrante opened #35 "Any best practises for RecyclerView?"
**Is your feature request related to a problem? Please describe.**
I would like to know, how can I optimize Coil for proper work with RecyclerView. I am loading the whole device's gallery in it using Coil and it properly loads all images separately, but if I would scroll list there are animations drops. Maybe there is some kind of optimization for such situations?

[2019-08-16 12:00] Stonos opened #36 "Crossfade + placeholder + wrap_content can result in a streched image"
**Describe the bug**
Loading an image with crossfade and a placeholder enabled can result in a stretched image if the ImageView uses `wrap_content` and the placeholder has a different aspect ratio than the image being loaded.

If the app goes to the background and then to the foreground again, the image appears correctly.

(the placeholder has to be larger than the ImageView for this to occur)

**

[2019-08-16 12:28] Stonos opened #37 "Add support for applying transformation placeholder/error drawables"
**Is your feature request related to a problem? Please describe.**
Suppose an `ImageView` showing the user's avatar. The user's avatar is loaded with a placeholder and has the `CircleCropTransformation` transformation applied to it. The placeholder will not be round which may cause the app to not look right on places where the avatar is expected to always be a circle.

**Describe the solution you'

[2019-08-16 18:32] colinrtwhite commented on #6
@rharter I think that's a good idea. Feel free to submit a PR, thanks. To keep things consistent, we should use the module name `coil-svg`.

[2019-08-16 19:10] rharter commented on #6
On it.

Adding auto-discovery to automatically add decoders that are on the classpath to the default ImageLoader adds the requirement of a service locator, which adds overhead to an otherwise simple architecture. That's part of what led Glide to all of it's extra bloat, so I'd argue keeping it a one line addition.

[2019-08-16 19:45] gastsail opened #39 "Typo in the documentation"
At the documentation it says minSdkVersion = 14 , but When I run the app, it says that it requires Android N , minSdkVersion = 24 to run

I changed the minSdkVersion in my gradle to 24 and the app is running

[2019-08-16 20:25] colinrtwhite commented on #39
Coil only uses Java 8 features that can be desugared by R8. To enable D8 desugaring check out the docs [here](https://coil-kt.github.io/coil/getting_started/#java-8).

[2019-08-16 20:25] #39 closed

[2019-08-16 20:42] colinrtwhite commented on #31
Fair enough. You should avoid enabling `allowHardware(false)` in most cases, but there could be instances where you want to disable it entirely for an `ImageLoader`. I created #40 to implement this.

[2019-08-16 20:45] colinrtwhite commented on #35
Hi, can you post a GIF/video of the issue you're running into? Coil should be set up to be efficient by default when working with RecyclerViews. Requests will be automatically stopped as the Views scroll off screen. Bitmap pooling also helps with recycling memory on pre-O.

[2019-08-16 23:22] colinrtwhite commented on #36
Thanks for the report. I'll take a look at this this weekend. Likely an issue with [CrossfadeDrawable](https://github.com/coil-kt/coil/blob/master/coil-base/src/main/java/coil/drawable/CrossfadeDrawable.kt).

[2019-08-17 20:28] gastsail commented on #39
yes, I added those to work with the .load() method , and it works nice, but when I try to compile with sdk < 24 it says that it requires Android N to run

[2019-08-17 23:25] audkar opened #42 "android.resource Uris that point to another package's resource ID fail to load"
**Describe the bug**
`imageView.load(uri)` doesn't load image from `android.resource://` uri.

**To Reproduce**
1. Apply this [patch](https://gist.github.com/audkar/c8d9c34dfc1c4d06accef741a4f3d385) to coil sample app.
2. Run sample app
3. Notice icon image is not loaded.
4. To check expected result comment out `detail.load(uri)` and un-comment `detail.setImageURI(uri)`

**Expected behavior**
Imag

[2019-08-18 03:33] ianhanniballake opened #44 "Coil should automatically rotate images based on Exif information"
**Describe the bug**
When images have rotation information embedded within their Exif information, Coil should use that to automatically rotate the image correctly.

This is something that other image libraries (Glide, Picasso) do already. Using the [AndroidX ExifInterface library](https://developer.android.com/reference/androidx/exifinterface/media/ExifInterface) allows you to extract the orienta

[2019-08-18 04:59] colinrtwhite commented on #44
Thanks for the report. Coil already uses the AndroidX Exif library as part of [BitmapFactoryDecoder](https://github.com/coil-kt/coil/blob/master/coil-base/src/main/java/coil/decode/BitmapFactoryDecoder.kt#L61) and should be automatically handling rotations, but I'll run the sample image to see what Coil's missing. I have a test [here](https://github.com/coil-kt/coil/blob/master/coil-base/src/andro

[2019-08-18 05:09] #31 closed

[2019-08-18 06:25] ianhanniballake commented on #44
FWIW, the case I was testing was loading the image via `Uri` - specifically, from a local `ContentProvider`. I suppose a `FileProvider` generated `Uri` would be similar enough for testing purposes.

[2019-08-18 22:10] colinrtwhite commented on #42
Thanks for the report. I'll take a look into this later today.

[2019-08-19 06:06] colinrtwhite commented on #42
Confirmed. `android.resource` Uris that point to a vector drawable (or anything that can't be handled by `BitmapFactory` currently won't load correctly. Have an idea in mind of how to fix this and will make sure the fix makes it into 0.7.0.

As a work around you can pass the resource ID directly to load: `.load(R.drawable.image)`

[2019-08-19 10:05] MenosGrante commented on #35
[Here it is.](https://giphy.com/gifs/Y3pcC15kB7MjTbpevc/html5). I am loading the whole gallery using `MediaStore` and `MediaStore.Images.Media.EXTERNAL_CONTENT_URI` and loading it using `imageView.load(uri).`

[2019-08-19 13:57] gastsail commented on #39
Hi @colinrtwhite , can you check if that is ok ? , I'm running gradle 3.4.2

[2019-08-19 14:07] saschpe opened #46 "Strict mode: Untagged network socket"
**Describe the bug**
The underlying network socket managed by OkHttp isn't tagged according to policy. Strict mode complains about it. While it's a [longstanding OkHttp issue](https://github.com/square/okhttp/issues/3537) other libraries apply a fixed tag.

- https://source.android.com/devices/tech/datausage/tags-explained

**To Reproduce**
Enable strict mode in an app's Application class during *

[2019-08-19 14:17] saschpe opened #47 "Better log-ability"
**Is your feature request related to a problem? Please describe.**
None of the various load methods allow to inspect error conditions, i.e. why an image load failed. At the moment it's next to a black box. Interestingly, there is no log output either.

**Describe the solution you'd like**
Probably the easiest solution is to let *load()* methods accept another lambda that is called in case of error

[2019-08-19 14:21] saschpe opened #48 "Creating default OkHttp Cache can trigger strict mode violation."
**Describe the bug**
See strict mode warning below.

**To Reproduce**
Use *Image.load()* from inside a RecyclerView.Adapter. I didn't see it happening when it's used from inside a Fragment.

**Expected behavior**
**Dispatchers.IO** should be used. It also wouldn't hurt to be able to pass a custom lifecycle (actually a different issue) as well.

**Logs/Screenshots**
[code]

**Library version**
0.6.

[2019-08-19 18:05] colinrtwhite commented on #47
To get access to the failure Exception you should add a listener:

[code]

[2019-08-19 18:05] #47 closed

[2019-08-19 18:29] colinrtwhite commented on #48
Currently, the OkHttpClient is built synchronously. https://github.com/coil-kt/coil/pull/8 will fix this issue by allowing us to lazily create the OkHttpClient instance on a background thread.

[2019-08-19 19:21] colinrtwhite commented on #46
Thanks for the report. Do you have an example of other libraries working around this issue? I'm a little hesitant to work around this issue in the base Coil package. You can set a custom OkHttpClient which packages the work around like so:

[code]

[2019-08-20 00:58] colinrtwhite commented on #39
@gastsail You only did one part of the documentation; you also need to add `compileOptions`. See [here](https://coil-kt.github.io/coil/getting_started/#java-8). Also I would update your Gradle version. `5.6` is the latest.

[2019-08-20 11:39] saschpe opened #52 "Loading files via URI string fails"
**Is your feature request related to a problem? Please describe.**
```ImageView.load("file:///data/user/0/foo/cache/1.jpg")``` fails with

[code]
because it is directly handed down to OkHttp3.

**Describe the solution you'd like**
A check if the Uri starts with **file://* could map to *load(file: File)* instead.

[2019-08-20 11:44] saschpe opened #53 "Crossfade doesn't like JPGs"
**Describe the bug**
When loading a local jpg from the file-system, crossfade(true) causes a crash

**To Reproduce**
Happens when using coil with [CircleImageView](https://github.com/hdodenhof/CircleImageView) (didn't test plain ImageView).

**Expected behavior**
No crash.

**Logs/Screenshots**
[code]

**Library version**
0.6.1

[2019-08-20 17:42] benjamin-bader commented on #46
If you decide not to add a tag in the base package, it might be nice to log a warning instead if the default, untagged, client is in use and strict-mode is on.  If nothing else, it will save library users from googling the error and blaming Coil.

[2019-08-20 18:02] colinrtwhite commented on #53
Looks like `CircleImageView` requires software rendering which is incompatible with hardware bitmaps. Check out the fix here: https://github.com/coil-kt/coil/issues/31

[2019-08-20 18:02] #53 closed

[2019-08-20 18:03] colinrtwhite commented on #52
Tracking support for this here: https://github.com/coil-kt/coil/issues/24

The current workaround is to use `ImageView.load(Uri.parse("file:///data/user/0/foo/cache/1.jpg"))`. The fix for this will likely make it into `0.7.0`.

[2019-08-20 18:03] #52 closed

[2019-08-20 18:13] colinrtwhite commented on #3
For those following this ticket, I've been prioritizing other issues since the fix for this isn't straightforward. `Coil`'s `OkHttpClient` is holding onto the request object slightly longer than the containing lifecycle, but it will ultimately be GC'd.

Going to circle back on this when some of the other issues have been fixed, but if anyone from the community has a clean way to fix this, feel fre

[2019-08-20 20:33] ediTLJ commented on #42
Does that work for you? I also tried the resource id directly (with several vector drawables) and it doesn't seem to work.

[2019-08-21 06:20] colinrtwhite commented on #46
@benjamin-bader Strict mode will already log a warning, which references OkHttp and not Coil.

[2019-08-21 10:27] isMeiying opened #56 "Add a CenterCropTransformation"
Reference: https://github.com/bumptech/glide/blob/d8278f43a94484f20822170b71ac7b66269a2aa6/library/src/main/java/com/bumptech/glide/load/resource/bitmap/CircleCrop.java

Sometimes in some combination transformations, it is important

[2019-08-21 17:22] benjamin-bader commented on #46
This is true, but will lead people to think that coil is the problem.  A helpful message would perhaps avert a number of spurious github issues, but if you think the existing message form strict mode is fine, then that's all that matters.

[2019-08-21 18:04] colinrtwhite commented on #44
Confirmed. Going to look into fixing this today.

[2019-08-22 07:46] mare011 opened #61 "Use placeholderRes/errorRes if url is null"
It would be cool if passing null url would use placeholder drawable or error drawable if set. Right now it defeats the purpose of fluent api when you have to do something like:

`if (imageUrl != null) {
	it.load(imageUrl) {
		placeholder(placeholderRes)
	}
}
else {
	it.setImageResource(placeholderRes)
}`

[2019-08-22 14:34] isMeiying commented on #24
Should analyze the string to determine whether it is a file type，Glide has made a judgment.

like:

[2019-08-22 22:10] colinrtwhite commented on #48
Fix for this has been merged to master. If you need it right away, you can use `0.7.0-SNAPSHOT`: https://github.com/coil-kt/coil/blob/master/docs/faq.md#how-do-i-get-development-snapshots

[2019-08-22 22:11] #48 closed

[2019-08-22 22:24] colinrtwhite commented on #46
Unfortunately, I don't think there's a way to show a message for this issue without requiring the user to install a custom socket factory. I'm going to close this issue for the moment + post the work-around as applied to Coil. If we get duplicate Github issues, we can point users back to this thread.

Here's the suggested work-around applied to Coil:

[code]

[2019-08-22 22:24] #46 closed

[2019-08-22 22:27] colinrtwhite commented on #35
I'm not sure I follow. Can you post a sample project that reproduces the issue? Thanks.

[2019-08-23 12:36] fernandospr commented on #20
Hi @colinrtwhite, I'm using 0.6.1 and using `wrap_content` for both width and height doesn't work either. This was my first test of the library and I was surprised it didn't work out of the box, wondering what I did wrong, until I tried using fixed values for width/height.

I'm not sure if this is the expected behavior. If it is, then I suggest you to add a comment about this on the migration guid

[2019-08-23 20:15] colinrtwhite commented on #20
@fernandospr You can work around this by setting the `scaleType` to `centerCrop`. I'm working on fixing this for `0.7.0`.

[2019-08-23 22:06] #44 closed

[2019-08-24 11:13] M-kadi opened #68 "To get an gif imperatively, use the get suspend function:"
please add this
val drawableGif = Coil.get("https://www.example.com/mygif.gif")

like to get an image:

To get an image imperatively, use the get suspend function:
val drawable = Coil.get("https://www.example.com/image.jpg")

[2019-08-24 20:07] colinrtwhite commented on #68
Are you asking to add this to the README? I'm not sure it provides extra value to add this considering it already has `val drawable = Coil.get("https://www.example.com/image.jpg")`. I don't think we should add example `get` statements for each different file type.

Feel free to reopen this issue if I misunderstood.

[2019-08-24 20:07] #68 closed

[2019-08-25 05:45] #36 closed

[2019-08-25 07:56] M-kadi commented on #68
Sorry

I mean :

I need to :

val drawableGif = Coil.get("https://www.example.com/mygif.gif")

Coil get a gif : is not found

[2019-08-25 09:01] colinrtwhite commented on #68
To add support for GIFs, [check here](https://coil-kt.github.io/coil/gifs/).

[2019-08-26 06:07] kaushalyap opened #71 "Setup a benchmark with Glide, Fresco, Picasso"
Setup a benchmark (memory, time, library size) with Glide, Fresco, Picasso for common set of scenarios

**Why?**

- for comparison
- to identify bottlenecks
- to keep track of performance changes as library evolves

[2019-08-26 06:39] kaushalyap commented on #71
Fresco have https://github.com/facebook/fresco/tree/master/samples for comparisons

[2019-08-26 08:55] colinrtwhite commented on #71
:+1: This is on my roadmap after shipping `0.7.0`.

[2019-08-27 18:40] saschpe opened #73 "Relax Java8 requirement"
**Is your feature request related to a problem? Please describe.**
Pure-Kotlin Android projects don't have to care about Java8 compatibility and thus stick to Kotlin defaults (i.e. Java 1.6 bytecode compatibility).

[code]

Currently, one has to add quite a bit of boilerplate with Gradle Kotlin DSL:
[code]

**Describe the solution you'd like**
Align with standard Kotlin and require only `androidx.

[2019-08-28 05:46] mare011 commented on #61
To me it would make more sense to use error when defined, and placehold as a fallback. Same goes for the case where you do have an url and there's an error.

[2019-08-28 06:25] saschpe commented on #73
Not sure I follow. Coil opted to be less compatible with the Android ecosystem but it will become better in the future? No real world app will set minSdk 24 any time soon. My bet is that this is still 2-3 years into the future. Even specifying 21+ is a bold move today because it means ignoring ~8% of potential Android customers. Desugaring overhead is why people stick to the platform default.

I g

[2019-08-29 14:36] r4phab opened #76 "Coil does not upscale resources"
**Describe the bug**
When I download a resource from URL and its size is smaller than the requested size in the `GetRequestBuilder`, result is not upscaled. On the contrary, when I set a smaller size inside my `GetRequestBuilder`, the resource is correctly downscaled.

**To Reproduce**
Download [this image](http://icons.iconarchive.com/icons/iconmoon/web-application/24/Warning-icon.png) using `Coi

[2019-09-01 10:53] isMeiying opened #77 "Refresh picture flicker"
`memoryCachePolicy(CachePolicy.DISABLED)` after loading the same picture will cause flicker, glide has `dontAnimate()` can solve, the coil?

[2019-09-02 17:06] FrostRocket commented on #77
I've noticed the same flicker in ImageViews even when loading images from the cache.

[2019-09-02 17:11] FrostRocket commented on #6
@rharter On pre-Nougat devices I'm noticing extreme performance issues while loading in RecyclerViews. I noticed the same with Glide until I realized that I was using hardware rendering.

I can take a look to see if we can disable hardware rendering when loading SVGs, but if you have a quick fix in mind you can also address it. 👍

[2019-09-02 22:29] jpmcosta opened #79 "Disk cache for custom Fetcher without the use of OkHttp"
**Is your feature request related to a problem? Please describe.**
Implementing a custom fetcher seems to also require the implementation of disk cache.

**Describe the solution you'd like**
An interface to provide a bitmap and have it cached on disk, preventing unnecessary fetches.

**Note**
I apologize if I'm missing a simple solution.

[2019-09-03 14:14] isMeiying commented on #77
Me too! but i set crossfade(false) to temporarily solve this problem.

@colinrtwhite When setting the same picture, I hope he won't change anything.

[2019-09-03 22:48] colinrtwhite commented on #77
@isMeiying `memoryCachePolicy(CachePolicy.DISABLED)` will disable reading and writing to the memory cache. This will force Coil to load the image from disk, which can often take more than 16ms, which can cause the flickering.

The equivalent of Glide's `dontAnimate()` is `crossfade(false)` (and don't set `memoryCachePolicy`). Let me know if that solves your issue.

[2019-09-04 04:54] kevincianfarini opened #80 "Support for a regular suspending ImageView.load"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

I'm not quite understanding why the implementation chose to go with a custom `RequestDisposable` over job or a pure suspending alternative. Normally, I delegate some network tasks in my RecyclerViews to my ViewHolders like so

[code]
where `onRecycled` is a method I call from

[2019-09-04 05:34] #24 closed

[2019-09-04 05:42] colinrtwhite commented on #35
It looks like the images in the GIF you posted aren't being cached in the memory cache. Currently, the image cache only supports `BitmapDrawable`s.

[2019-09-04 05:42] #35 closed

[2019-09-04 05:45] colinrtwhite commented on #42
Closing this as it's fixed by #75. The fix will soon be released in `0.7.0` or you can [depend on the development snapshots](https://github.com/coil-kt/coil/blob/master/docs/faq.md#how-do-i-get-development-snapshots) if you need it before then.

[2019-09-04 05:59] colinrtwhite commented on #76
@r4phab This is currently intended behaviour. Coil avoids loading images at a larger size than necessary to conserve memory. This behaviour is also fairly core to how Coil handles the [dynamic sampling crossfade effect](https://coil-kt.github.io/coil/getting_started/#image-sampling).

If you need to upscale an image, I'd recommend creating a `Transformation` that scales the input Bitmap. If you're

[2019-09-04 06:52] colinrtwhite commented on #6
@FrostRocket I think I have a fix for this here: https://github.com/coil-kt/coil/pull/81, though do you know why there are performance issues pre-Nougat? According to the `PictureDrawable` docs, `Canvas` doesn't support rendering `Picture`s/`SVG`s on hardware canvases until Marshmallow.

[2019-09-04 13:52] isMeiying commented on #77
Thank you very much, it solved my problem!

[2019-09-04 13:52] #77 closed

[2019-09-05 22:39] colinrtwhite commented on #6
Looks like even on Marshmallow, rendering an SVG on a hardware canvas will end up blurry. #81 should handle this limitation if you don't manually disable software rendering on your view.

[2019-09-05 22:39] #6 closed

[2019-09-06 15:35] hansenji opened #83 "Disabling the Memory Cache crashes the app"
**Describe the bug**
When set the `availableMemoryPercentage` to `0.0` it crashes the app in the LruCache

**To Reproduce**
[code]

**Expected behavior**
Setting availableMemoryCache to 0 disables the cache not crashes.

**Logs/Screenshots**
[code]

**Library version**
0.6.1

[2019-09-07 08:24] FrostRocket commented on #6
I wasn't seeing blurry SVGs on my Marshmallow Nexus 5x, but I was running into those performance issues I mentioned. Took a look at the diff for your change so when you release 0.70 I'll update you if this resolves it. Thanks!

[2019-09-07 09:11] kenshin171 opened #85 "RoundedCornersTransformation support individual corner radius setting"
**Is your feature request related to a problem? Please describe.**
Currently the RoundedCornersTransformation  only allows the setting of the radius for all corners, `RoundedCornersTransformation(radius:Float)`. It would be nice to have the flexibility to specify the corners that I would to have the radius applied only.

**Describe the solution you'd like**
Example would be for the api to be like

[2019-09-07 17:38] AndreaCioccarelli opened #86 "Unable to load local vector drawables"
**Describe the bug**
I have recently switched from Glide to Coil as image loading library, but after having implemented Coil just some images are loaded, the ones that are loaded by URL, while vector drawables are not displayed at all, even though I'm trying to strictly follow the documentation

**To Reproduce**
Create a vector drawable, place it under /res/drawables, then

[code]

**Expected beha

[2019-09-07 20:11] colinrtwhite commented on #83
Thanks for reporting the issue. I'll add the fix to the `0.7.0` release.

[2019-09-07 20:20] colinrtwhite commented on #6
@FrostRocket Thanks, you can also test out the `0.7.0` snapshots by following the instructions [here](https://github.com/coil-kt/coil/blob/master/docs/faq.md#how-do-i-get-development-snapshots) if you'd like. The full `0.7.0` release should also be out later today.

[2019-09-07 20:20] hassan31 opened #88 "Unable to Load Local / Regular Image"
Hi, I', trying to load local image from drawable, but it's not displaying the image in my recycler view. But if I try `view.ivAccount.setImageResource(account.image)` the native code to display, then it works.
![image](https://user-images.githubusercontent.com/3063382/64479862-3e749d80-d18b-11e9-8952-6b4d208f0d22.png)

Please have a look into attached screenshots that are not working using your co

[2019-09-07 21:34] #83 closed

[2019-09-07 21:37] colinrtwhite commented on #88
Is `ic__settings` a vector drawable? If so, I believe this should be fixed by https://github.com/coil-kt/coil/pull/89.

[2019-09-07 21:50] colinrtwhite commented on #86
Thanks for the report. There are two main issues with vector drawables in `0.6.1` at the moment which should be fixed by #75 and #89. Both fixes will be available in `0.7.0` which will likely be released later today.

[2019-09-07 22:41] #88 closed

[2019-09-07 23:20] AndreaCioccarelli commented on #86
Good to hear! I'll check out if the update works for me and report here any news.

[2019-09-08 08:47] #20 closed

[2019-09-08 21:17] #86 closed

[2019-09-08 22:59] FrostRocket opened #91 "OOM exception when creating software bitmaps out of SVGs"
Latest version 0.7.0 while creating software bitmaps from SVG assets causing an OOM exception when loading SVGs in a recyclerview. Was able to reproduce this 100% of the time on memory constrained Nexus 5x device.

To reproduce, create a basic recyclerview that loads a unique SVG graphic from web, and start scrollin'.

    java.lang.OutOfMemoryError: Failed to allocate a 16000012 byte allocation w

[2019-09-08 23:02] FrostRocket opened #92 "Coil.get() throws IllegalArgumentException when converting SVG toBitmap"
Latest version 0.7.0 crash when attempting to get SVG asset via Coil.get() and using Drawable .toBitmap() to convert it to a bitmap.

Usage:

        Coil.get(iconUrl)
            .toBitmap()

Stacktrace:

    java.lang.IllegalArgumentException: width and height must be > 0
        at android.graphics.Bitmap.createBitmap(Bitmap.java:829)
        at android.graphics.Bitmap.createBitmap(Bitmap.java:

[2019-09-08 23:05] FrostRocket commented on #6
@colinrtwhite Latest version of Coil unusable for the SVG use case, still seeing performance issues and a number of crashes now:

https://github.com/coil-kt/coil/issues/92
https://github.com/coil-kt/coil/issues/91

I'll continue the discussion on these other issues. 👍

[2019-09-09 12:33] saschpe opened #93 "Unit testing"
**Describe the bug**
When an app makes use of Robolectric and tests fragments or activities which in turn use Coil to load images, the default image loader needs to be initialized manually (via *CoilContentProvider*). The canonical way to do this with Robolectric would be to put this in a @Before method in a JUnit4 based unit test class or a custom **Application** instance:
[code]
This doesn't wor

[2019-09-09 12:44] audkar commented on #42
@colinrtwhite this still doesn't work if referenced `URI` is from different package.

I updated initial example patch to reproduce issue

[2019-09-10 02:23] colinrtwhite commented on #42
Thanks, I'll take a look into this next week (away on holiday this week).

[2019-09-10 16:32] Toffor commented on #85
Also i wonder that is RoundedCornersTransformation applied for placeholder and error drawables.

[2019-09-11 15:35] StephaneBg opened #95 "ImageView dimensions are incorrect in ConstraintLayout"
**Describe the bug**
When dimensions of ImageView are computed in ConstraintLayout with a constraint width percent, the size of the image is incorrect.

**To Reproduce**
Project is available. Search for ImageView with cover id.
https://github.com/damienLh/entract-cinema-android/blob/coil/app/src/main/res/layout/fragment_details.xml
https://github.com/damienLh/entract-cinema-android/blob/coil/app/s

[2019-09-11 16:32] colinrtwhite commented on #92
Thanks for the report. Do you have a public SVG that can be used to reproduce the crash? My guess is that the SVG is missing the viewbox element.

I'm only holiday this week, but will be able to take a look next week.

[2019-09-11 20:29] RenatoViana01 commented on #95
Can I pick this up?

[2019-09-12 08:59] mt131 opened #96 "RoundedCorners not work"
holder.imageViewCover.scaleType = ImageView.ScaleType.CENTER_CROP
        holder.imageViewCover.load(producList[position].cover_image) {
            transformations(RoundedCornersTransformation(32f))
        }

but the image is not rounded conner

[2019-09-12 16:24] mikepenz opened #97 "Fetcher.key() blocks UI thread"
**Describe the bug**

Currently the `key()` method of `Fetchers` is called from the UI thread, which results in a `StrictMode` violation for the `FileFetchers`. As it uses the `.lastModified()` method.

https://github.com/coil-kt/coil/blob/master/coil-base/src/main/java/coil/fetch/FileFetcher.kt#L14

**To Reproduce**
- Enable StrictMode in your application
- Load an Image via coil via the normal `

[2019-09-13 00:35] chrisbanes opened #98 "Make ImageViewTarget an open class"
Currently ImageViewTarget is final, meaning it can't be extended. It would be useful to make it `open`.

*Why?*
I want to add a custom animation/transition when the image is loaded. I could add a transformation and wrap the drawable in a custom `Animatable` (although no idea if that would work), but really I just want extend `ImageViewTarget` and add something similar to its crossfade functionalit

[2019-09-13 02:27] chrisbanes opened #99 "Pass `DataSource` to `Target.onSuccess()`"
The source is useful to know when to run certain types of animation/transition when loading images.

For instance, I apply a fade + saturation animation for images when they're 'first loaded'. The easiest way to implement this (approximately) is to look at where the image is loaded from. This was pretty easy with Glide's `TransitionFactory`, but not so with Coil.

I've added this to my app [here](

[2019-09-13 08:03] mt131 commented on #96
<ImageView
        app:riv_corner_radius="16dp"
        android:id="@+id/imageViewCover"
        android:layout_width="0dp"
        android:layout_height="0dp"
        android:layout_marginStart="8dp"
        android:layout_marginTop="4dp"
        android:layout_marginEnd="8dp"
        android:layout_marginBottom="4dp"
        app:layout_constraintBottom_toBottomOf="parent"
        app:layout_cons

[2019-09-14 01:01] adrielcafe opened #100 "Get the image file from a preloaded image"
**Is your feature request related to a problem? Please describe.**
I'm looking for a way to get the image file from a preloaded image, but seems Coil lacks this feature at the moment.

**Describe the solution you'd like**
On Glide I do:
[code]

Would be nice if we have at least one of these options in Coil:
[code]

[2019-09-14 03:34] ZacSweers opened #101 "Native crash when using native ImageDecoderDecoder to load gifs on Android Q"
**Describe the bug**
Loading these images results in a native crash on my Pixel 3: https://cdn.dribbble.com/users/730703/screenshots/7127901/landor.gif
https://assets.materialup.com/uploads/d760b727-b2bc-4e1e-8565-bd1155539e0c/animated_teaser.gif

Appears to happen with any gif

**To Reproduce**
How can we reproduce this?
The links above should work, can set up a repro branch in a side project app

[2019-09-14 07:55] mt131 opened #102 "bitmap"
with coil i can load drawable like that
Coil.load(context, url) {
    target { drawable ->
        // Handle the successful result.
    }
}
how to load with bitmap?

[2019-09-14 13:31] timbrueggenthies commented on #102
Maybe you could adjust the request a bit to improve the ability to follow the problem.
Helps the maintainers to understand how they can help.

[2019-09-14 16:12] VMadalin commented on #102
@mt131 Correct me please in case I'm wrong. You want to obtain the `bitmap` object when successful downloaded the image from url. This maybe isn't the most expected behaviour on use this library but knowing that:

You can obtain easy your bitmap and use it for your proposes. Here I share with you a snipped of code for do that: https://stackoverflow.com/a/10600736/11009254

[2019-09-14 18:53] VMadalin commented on #101
@ZacSweers Thank you for detailed issue. I reproduce it on simulador API 29, apparently and following the [documentation](https://coil-kt.github.io/coil/gifs/) to support the gif format you need to add an extension library, and implementing your own `decoder`.

[code]

The problem appear with the `ImageDecoderDecoder()`,  a temporal work-around is to use `GifDecoder()` independent of API version.

[2019-09-15 02:45] mt131 commented on #102
thanks

[2019-09-15 02:45] #102 closed

[2019-09-15 02:47] mt131 commented on #96
it is not work in 1 project but  working in other project now

[2019-09-15 02:47] #96 closed

[2019-09-15 04:21] ZacSweers commented on #101
Yep I'm just going to use GifDecoder in the meantime. Have added my repro gifs to the issue tracker: https://issuetracker.google.com/issues/139371066. Closing for now as this is an android framework issue. Would suggest others star the issue/add their repro cases there

[2019-09-15 04:21] #101 closed

[2019-09-16 01:46] colinrtwhite commented on #101
I'll update the documentation to recommend using `GifDecoder` for all API levels as well and link to the framework issue.

[2019-09-16 09:09] ZacSweers commented on #35
Is that a technical limitation or just not implemented?

[2019-09-16 19:05] colinrtwhite commented on #35
@ZacSweers Not implemented, though I have a WIP branch, which should make it into an upcoming release. It was planned to support all `Drawables` for the initial Coil release, but I ran out of time. If you'd like I can tag you on the PR when it's ready.

[2019-09-16 22:55] colinrtwhite commented on #97
Thanks for the report. Unfortunately, there isn't a great way to solve this that I know of. `Fetcher.key` needs to be called on the main thread so the `ImageLoader` can check if it's already in the memory cache and set it on the `Target` synchronously.

If we moved this to a background thread, we would have to jump back to the main thread to set the cached image, which could delay setting the cach

[2019-09-16 22:55] colinrtwhite commented on #97
Unfortunately, there isn't a great way to solve this that I know of. Fetcher.key needs to be called on the main thread so the ImageLoader can check if it's already in the memory cache and set it on the Target synchronously.

If we moved this to a background thread, we would have to jump back to the main thread to set the cached image, which could delay setting the cached image enough that we would

[2019-09-17 03:12] colinrtwhite commented on #85
Fixed by #103.

[2019-09-17 03:12] #85 closed

[2019-09-17 11:29] mikepenz commented on #97
A more generic solution to this problem would be to allow passing in the cache key to use. So the developer could theoretically decide how to deal with the delay. In addition it would allow to provide custom cacheKey logics without the need for custom fetchers.

[code]

Totally understand the problem about not wanting to see the placeholder for the first frame, or how long that cache key resolving

[2019-09-17 23:26] Starscream9559 opened #104 "Function crossfade(true) didnt work."
So this is my first time trying this library. Wanna see how it's better than Glide and others and suddenly bumped into this, which I believe a bug. I'm using crossfade() for the fading up animation image loader. It seems that the image only load once. If I go Back screen, and re enter the activity, the image is not loaded anymore. Here is how I specify my code;

[code]
Note that on the arguement T

[2019-09-17 23:29] colinrtwhite commented on #104
Do you have a sample application/snippet that can reproduce this? Thanks

[2019-09-18 07:07] aaajiekc opened #105 "Resizing for cached images does not work"
**Describe the bug**
I have the same image loaded twice but with different size parameters. In both cases, a cache is enabled.
The larger image comes in onSuccess callback despite the size method.

**To Reproduce**
Get an image from the cache and try resizing it using size method.

**Expected behavior**
Image of the correct size according to the parameters passed to the size method

**Logs/Screens

[2019-09-18 21:51] colinrtwhite commented on #105
This is currently intended behaviour. Coil is pretty permissive about reusing drawables and will reuse drawables that are at least the size of the requested dimensions. In this case since the cached drawable is larger than the requested dimensions, it will be returned.

I understand there might be cases where users need the dimensions to be exact (or as exact as possible). I'm tracking support for

[2019-09-18 21:51] #105 closed

[2019-09-19 04:11] mt131 opened #106 "how to load video thumb"
i want to load video thumb like glide:

 var interval = 1 * 1000
            var options = RequestOptions().centerCrop()
                .frame(interval.toLong())
            Glide.with(activity!!.applicationContext)
                .asBitmap()
                .load(R.raw.a1)
                .apply(options)
                .into(imageView)

[2019-09-19 06:43] colinrtwhite commented on #106
Unfortunately, this isn't currently supported. Tracking support for it here: https://github.com/coil-kt/coil/issues/25

[2019-09-19 06:43] #106 closed

[2019-09-19 06:49] colinrtwhite commented on #25
Thinking about this more, this would be a good candidate for a `coil-video` artifact.

I think a custom Decoder that uses `MediaMetadataRetriever` to retrieve the frame data. We'll need to write a custom `MediaDataSource` that's backed by an Okio Source as well.

Going to tag this as help wanted in case someone wants to take a stab at it. Otherwise, I can work on this once other bugs are fixed.

[2019-09-19 08:01] colinrtwhite commented on #101
According to the Android framework team, this bug only occurs when using `ImageDecoder.createSource(ByteBuffer)`. Unfortunately, that's the only method we can use to decode the Okio `BufferedSource`.

Hopefully, a fix will go out in the next Android maintenance release. In the meantime, I've updated the docs to recommend against using `ImageDecoderDecoder`.

[2019-09-19 13:19] kaushalyap commented on #71
@colinrtwhite  you may find this useful: https://proandroiddev.com/coil-vs-picasso-vs-glide-get-ready-go-774add8cfd40

[2019-09-19 18:29] gergely-sallai opened #108 "ViewSizeResolver does not report the actual size of view"
**Describe the bug**
`ViewSizeResolver`'s `getDimension` function deducts the View's paddings when calculating the size of a dimension.

This might be the intended behaviour when using the library with an `ImageView`, but does not function properly if the image is loaded to a `View`'s background, as it is rarely a goal in such case to respect the padding.

**To Reproduce**
Use `ViewSizeResolver`'s

[2019-09-19 19:25] mkano9 opened #109 "RoundedCornersTransformation only rounds the top two corners"
**Describe the bug**
RoundedCornersTransformation does not round the bottom two corners. Only the top two corners get rounded.

**To Reproduce**
Target SDK = 29
Tested on a Android 10 and Lollipop.

Sample code:

            holder.imageView.load(imageUrl) {
                transformations(RoundedCornersTransformation(
                    holder.imageView.resources.getDimension(R.dimen.rounded_cor

[2019-09-19 19:26] mkano9 commented on #109
Looks like this is a relevant stackoverflow post about `drawRoundRect(...)`.
https://stackoverflow.com/questions/5896234/how-to-use-android-canvas-to-draw-a-rectangle-with-only-topleft-and-topright-cor

[2019-09-19 20:02] mkano9 commented on #109
Confirmed that `0.7.1-SNAPSHOT` has the same issue.

[2019-09-19 20:07] colinrtwhite commented on #71
Thanks, reposting my response from the article:

[2019-09-19 20:50] #42 closed

[2019-09-19 20:56] colinrtwhite commented on #93
Thanks for the report. Similar libraries have their init ContentProviders set to public so I think it makes sense to do the same for Coil.

[2019-09-19 22:26] mkano9 commented on #109
I confirm that this was actually my layout bug that was cutting off the bottom edge of my ImageView. Closing this. Thanks for the great work!

[2019-09-19 22:26] #109 closed

[2019-09-20 05:03] #93 closed

[2019-09-20 08:55] gergely-sallai opened #113 "DiskCache should work like MemoryCache"
**Is your feature request related to a problem? Please describe.**
It seems that DiskCache feature caches the downloaded image only, so every transformation needs to be calculated again if the image is loaded from DiskCache.

This is problematic for two reasons:
- Memory and Disk Cache behave differently: Memory cache seem to cache the end result after all transformations are applied. Which is the

[2019-09-20 19:00] colinrtwhite commented on #97
It's already possible to set a custom cache key, which skips calling `Fetcher.key` (and `Transformation.key`) using:

[code]

[2019-09-21 16:29] Starscream9559 commented on #104
I send screenshot of this dummy app first. for your first thought. FYI, Internet permission given. Java8 bytecode enabled.

![DeepinScreenshot_dde-desktop_20190922002719](https://user-images.githubusercontent.com/12114864/65376221-10857200-dcd0-11e9-8218-ef5bb3945be9.png)

[2019-09-21 21:16] colinrtwhite commented on #104
Can you enable logging with `CoilLogger.setEnabled(true)` and post the logs?

[2019-09-22 01:50] colinrtwhite commented on #113
Thanks for the enhancement request. Unfortunately, I'm not sure this is a good fit for Coil as adding support for this would require Coil to implement its own disk cache.

One of the main design decisions behind Coil was to rely on OkHttp's disk cache as:
1. This significantly reduces the complexity + size of Coil's codebase.
2. Coil automatically handles `Cache-Control` headers for free (somethin

[2019-09-22 05:10] colinrtwhite commented on #79
Thanks for the enhancement request. Unfortunately, I'm not sure this is a good fit for Coil.

One of the main design decisions behind Coil was to rely on OkHttp's disk cache as:
1. This significantly reduces the complexity + size of Coil's codebase.
2. Coil automatically handles `Cache-Control` headers for free (something that Glide does not).

If you want to add disk caching to your custom `Fetch

[2019-09-22 05:10] #79 closed

[2019-09-22 14:42] jpmcosta commented on #79
Thank you for your reply.

That's how you would handle, for instance, if you wanted to fetch and cache the device's app icons?
That would be my use-case.

[2019-09-22 14:43] jpmcosta commented on #79
@colinrtwhite thank you for your reply.

That's how you would handle, for instance, if you wanted to fetch and cache the device's app icons?
That would be my use-case.

[2019-09-22 17:21] NickM-27 commented on #113
I kind of have the opposite opinion, if I have an image which has different slightly transformations in different places of the app, I don't want Coil to save each variation of that separately. Plus once the image is loaded from disk and saved with the transformations to the memory cache, it really only has an effect on the first load of an app instance.

[2019-09-22 17:59] colinrtwhite commented on #79
@jpmcosta Other app's icons are already stored on disk as part of their apk. You can load them without creating a custom Fetcher like so:

[code]

NOTE: I recently fixed a bug with loading other app's resources so you'll have to use the `0.8.0` [snapshot](https://coil-kt.github.io/coil/faq/#how-do-i-get-development-snapshots) until it's released.

[2019-09-22 18:11] jpmcosta commented on #79
@colinrtwhite you can load them, but are they cached? Because if the app is uninstalled and the icon is not cached, then you stop being able to load it.

[2019-09-22 18:18] colinrtwhite commented on #79
@jpmcosta Ah that's a good point. They would not be cached after they're uninstalled. In that case I would recommend writing a custom Fetcher with `DiskLruCache`. Check out `ResourceUriFetcher` for how to open an `InputStream` to that resource then you just need to check if it's already in your disk cache and serve it. If it's not, write it to the disk cache using `BufferedSource` and return the s

[2019-09-22 18:21] jpmcosta commented on #79
@colinrtwhite I see. Well, my initial goal with when opening this issue was to have the library to that work for me. 😅

Still, thank you for answering and keep the great work.

[2019-09-23 00:10] #11 closed

[2019-09-23 00:11] colinrtwhite commented on #11
This is now supported in the [0.8.0-SNAPSHOT](https://coil-kt.github.io/coil/faq/#how-do-i-get-development-snapshots).

[2019-09-23 06:23] gergely-sallai commented on #113
I completely understand your reasoning behind the design decision that you don't want to implement your own disk cache. And persisting between lib and app updates where the transformations could change is problematic, I agree; I did not consider this one. What I considered was the memory and computational footprint of the app, but it might not worth the effort.

Although it is still confusing that

[2019-09-24 09:20] Starscream9559 commented on #104
A repo set-up for testing. Try take a look.
https://github.com/Starscream9559/DuumyApp4CodeTesting.git

[2019-09-24 20:21] NickM-27 opened #125 "Crash for some of my users with cross fade enabled"
**Describe the bug**
A number of my users are experiencing a crash on their devices. Specifically seems to effect Samsung and LG

**To Reproduce**
Use crossfading

**Expected behavior**
Doesn't crash

**Logs/Screenshots**
Fatal Exception: java.lang.IllegalStateException: Software rendering doesn't support hardware bitmaps
       at android.graphics.BaseCanvas.throwIfHwBitmapInSwMode + 562(BaseCanv

[2019-09-24 20:33] colinrtwhite commented on #125
Are you performing a shared element transition? You'll have to disable hardware bitmaps for those requests since the framework doesn't support hardware rendering for shared element transitions. Here's how to disable it:

[code]

[2019-09-24 20:36] NickM-27 commented on #125
Ah I see, that makes sense, thanks!

[2019-09-24 20:36] #125 closed

[2019-09-25 08:15] JcMinarro commented on #96
It is not working fine for me either.
Some pictures are rounded but other ones not.
It is the same case, I am trying to load pictures into a recyclerView that has a `GridLayoutManager` with three columns. The holder will take the size depending on the screen size, and it is always squared thanks to the constraint condition I add to the picture (`app:layout_constraintDimensionRatio="H,1:1"`)

It is

[2019-09-25 08:42] JcMinarro opened #126 "RoundedCornersTransformation is not working properly"
**Describe the bug**
Corners are not rounded on all items of my RecyclerView.
Some pictures are rounded but other ones not.

**To Reproduce**
I have a RecyclerView that I initialize with a GridLayoutManager with three columns.
For every items, it is inflating a view with a layout that will be squared by a constraint into the constraintLayout that I added. The layout is the following one:

[code]
I

[2019-09-25 15:22] mattinger opened #127 "Set Loop Count on GIF"
I don't currently see any way to set the loop count on a .gif file.  There are times when we get gif files that have an indefinite loop coded in, but would like to play it only once.  It would be great if we could maybe be another ImageView extension function which takes a loop count parameter, which can be passed off to MovieDrawable to determine how many times to loop the movie.

In addition, it

[2019-09-26 19:17] colinrtwhite commented on #127
Great idea! Definitely open to a PR that adds this to `MovieDrawable`. This is already supported in `AnimatedImageDrawable` via `setRepeatCount`.

[2019-09-26 19:23] colinrtwhite commented on #126
This is because `RoundedCornersTransformation` only rounds the corners of the Bitmap without cropping to the correct aspect ratio. However, I agree that it would be better and more intuitive to crop to the size of the `Target` as part of this `Transformation`.

This will require a breaking change to the `Transformation` interface:

[code]

[2019-09-26 19:35] colinrtwhite commented on #108
Makes sense; I'll likely expose the padding calculation methods so they can be hardcoded to 0.

[2019-09-26 21:39] colinrtwhite commented on #80
Yep, this was a conscious decision to not use `Job` as it represents a one-shot piece of work. `load` can seem like it's a one-shot operation, but actually for any `ViewTargets`, the request can be restarted multiple times if the `View` is detached and re-attached.

This is done so resources can be freed more proactively in `RecyclerViews` and `Fragments`; Glide has the same optimization. This beh

[2019-09-27 22:56] #91 closed

[2019-09-27 22:56] #92 closed

[2019-09-28 00:16] NickM-27 commented on #125
@colinrtwhite Is there any way to catch this? I found all of the layout files with transition name set and made sure they were loading with hardware disabled but the crash is still occurring. More concerned with stopping the crash than anything else

[2019-09-28 13:01] Raj-Varun commented on #126
If you remove this ` android:scaleType="centerCrop"` it will work fine. (If you don't want to keep it).

[2019-09-28 13:07] Raj-Varun opened #131 "Graphical corruption warning on android M"
**I'm getting this warning**
`W/Bitmap: Called reconfigure on a bitmap that is in use! This may cause graphical corruption!`

**To Reproduce**
I'm using this `BindingAdapter` to load image in the imageView inside a RecyclerView. App is working with no issues but I'm worried about this warning.
`
@BindingAdapter("roundedUrl")
fun bindUrlRounded(imageView: ImageView, url: String) {
    imageView.loa

[2019-09-29 22:10] colinrtwhite commented on #125
@NickM-27 You could disable hardware Bitmaps entirely by setting `allowHardware(false)` when constructing your `ImageLoader`. That will disable hardware Bitmaps everywhere without having to set `allowHardware(false)` on each request.

[2019-09-30 03:59] colinrtwhite commented on #131
@Raj-Varun This should be safe to ignore. [Here's a similar bug report for Glide](https://github.com/bumptech/glide/issues/743#issuecomment-157752057).

I think this warning should be gone in later versions of Android. However, if you do see any graphical corruption, please let me know.

[2019-09-30 03:59] #131 closed

[2019-09-30 12:05] ElNuru247 opened #132 "Coil does not automatically reloads image after internet reconnection"
I am using the code below to load images from a URL into the target imageview
When i try to load the images without internet connection,the error image is displayed,then if i turn on internet connection,unlike Glide, Coil doesn't try to reload the images from the URL.

[code]
Is this currently not possible or I'm not doing it right?.

[2019-09-30 13:36] mattinger commented on #127
I'd be more than willing to try to help out on this (i'd have to get contributions approved, but we have an established process for that).  However, MovieDrawable contains a Movie object, and i'm not seeing any particular way to ask that Movie object where it is in it's looping.  If i could determine how many frames were in the gif, and what frame it was on, then perhaps, but i don't see anything

[2019-09-30 14:02] mattinger commented on #127
The issue is libraries like glide (what we're migrating from) have a magic loop count available LOOP_INTRINSIC.  I think it would be easy enough to do a fixed loop count, and an infinite loop (which is what coil does right now).  The problem is figuring out the intrinsic (built in) loop count for the animated gif.  Movie does not support anything like this.

[2019-09-30 14:09] mattinger commented on #127
Also, as a side note, my app crashes every time if i try to use ImageDecoderDecoder.  I haven't been able to get a useful stack track yet though.

[2019-09-30 17:23] mikepenz commented on #97
Not sure how I missed that one.

Anyways from my perspective you may close this. You might want to note somewhere that people who use the `FileLoader` will face the IO on main thread, and that they can use the `key()` method to work around this problem

[2019-09-30 17:39] colinrtwhite commented on #132
Yep, this is currently not implemented. Coil will automatically force reading from the disk cache if you're online, but it won't restart a request when you come back online.

[2019-09-30 17:43] colinrtwhite commented on #127
@mattinger The `ImageDecoderDecoder` crash is due to [this framework issue](https://issuetracker.google.com/issues/139371066). I've worked around it in 0.8.0-SNAPSHOT, though it might still be worth using `GifDecoder` exclusively.

[2019-09-30 18:12] colinrtwhite commented on #104
@Starscream9559 Thanks for the sample project, however I'm not able to reproduce the issue with it. If I navigate forward to an Activity and back, the image still shows correctly.

[2019-10-01 00:21] colinrtwhite commented on #98
Sorry for the late reply on this. `ImageViewTarget` is currently closed since I didn't want consumers relying on the internal behaviour of `onSuccessCrossfade`.

`PoolableViewTarget` requires implementations to stop using the previous `Drawable` as soon as the next lifecycle method is called. This works great when using `setImageDrawable`, but it doesn't account for transitions that need to use bo

[2019-10-01 00:22] colinrtwhite commented on #99
Added a comment on #98, which also discusses this ticket.

[2019-10-01 00:26] #108 closed

[2019-10-01 00:58] hassan31 commented on #88
No, it's not a vector, its simple png image.

[2019-10-01 06:39] ElNuru247 commented on #132
Is there a reason associated with Coil's nature or performance why this is currently not implemented or it's something we should be expecting soon?

[2019-10-01 07:52] JcMinarro commented on #126
@colinrtwhite Any workaround in the meantime?
I understand that it needs the size of the `target` (Or at least some size) to perform the roundedCorners transformation, but, why it is working for some random pictures?

@Raj-Varun I can't remove it because original pictures are not squared, but I need to show them as square :(

[2019-10-01 12:38] Raj-Varun commented on #126
What you can try is put the image inside a constrain layout with  `app:layout_constraintDimensionRatio="1"` so it will be square and `android:layout_width="wrap_content"
android:layout_height="wrap_content"`
for constrain layout.

[2019-10-01 17:24] colinrtwhite commented on #132
@ElNuru247 I think this could be implemented, though it's low priority. I've shied away from adding it so far as I'm not sure how much complexity it would add to Coil.

[2019-10-01 17:25] colinrtwhite commented on #97
Sounds good, I'll add a note to `FileLoader`.

[2019-10-01 17:25] #97 closed

[2019-10-01 18:28] colinrtwhite commented on #126
@JcMinarro If your minSDK is 21+, you could crop the image's corners as part of the `ImageView` ([here's an example](https://stackoverflow.com/questions/2459916/how-to-make-an-imageview-with-rounded-corners)). This will also be better for performance.

I'll update this thread when the fix is in `0.8.0-SNAPSHOT`.

[2019-10-01 22:05] #127 closed

[2019-10-01 22:06] colinrtwhite commented on #104
Going to close this, but feel free to reopen if I've missed something in the sample project.

[2019-10-01 22:06] #104 closed

[2019-10-01 22:11] colinrtwhite commented on #113
@gergely-sallai Thanks for the enhancement request, but I don't think this is a good fit for Coil given the reasons [here](https://github.com/coil-kt/coil/issues/113#issuecomment-533842984).

[2019-10-01 22:11] #113 closed

[2019-10-02 01:13] chrisbanes commented on #98
Sounds good to me. Making the onSuccess() suspend while the transition/animation takes place is neat API.

[2019-10-02 13:41] mattinger commented on #127
@colinrtwhite I see the change to MovieDrawable.  Is there going to be a corresponding change to the load function to allow us to actually set the repeat count when the movie is inflated?  That still seems to be missing.  I imagine something in the Decoder.Options would be appropriate.

[2019-10-02 13:47] mattinger commented on #127
I can submit a PR, but it should be a simple change (limited to Options, GifDecoder and ImageDecoderDecoder), and I'd have tot go through some approvals at  work since i've never submitted to this project before.

[2019-10-02 20:31] colinrtwhite commented on #127
@mattinger I added an extension to set the repeat count as part of the request [here](https://github.com/coil-kt/coil/pull/134).

[2019-10-03 21:16] NLLAPPS opened #136 "java.io.FileNotFoundException: No photo file found for ID 0"
Hi, I am trying Coil for loading Contact photos on Android. While my own sample implementation can load bitmap from (i.e) content://com.android.contacts/contacts/129/display_photo, I get  `java.io.FileNotFoundException: No photo file found for ID 0` error when i use Coil.

Full log:
`RealImageLoader: 🚨 Failed - content://com.android.contacts/contacts/129/display_photo - java.io.FileNotFoundExcepti

[2019-10-04 09:08] NLLAPPS commented on #136
Update:
While `ContactsContract.Contacts.Photo.DISPLAY_PHOTO` gives above error.
`ContactsContract.Contacts.Photo.CONTENT_DIRECTORY` which is the thumbnail works fine.

According to https://stackoverflow.com/a/16709681/74896 `Contacts.openContactPhotoInputStream(context.getContentResolver(), contactUri);` should be used for   `ContactsContract.Contacts.Photo.DISPLAY_PHOTO`

[2019-10-04 16:03] mattinger commented on #127
@colinrtwhite Any idea when you plan on a non snapshot release?

[2019-10-04 18:10] colinrtwhite commented on #127
@mattinger Likely within the next 1-2 weeks.

[2019-10-04 18:46] colinrtwhite commented on #136
@NLLAPPS Thanks for the report. Looks like we just need to detect this Uri format in `ContentUriFetcher` and use the correct API.

[2019-10-07 17:43] #136 closed

[2019-10-08 06:30] colinrtwhite commented on #95
Took a look at your sample project. This is occurring because the image (185x251) is being loaded in at a smaller size than the `ImageView` (271x406 on an xxhdpi device). Coil does this as an optimization since the image is already loaded in at max detail at its original size. However, I understand this might not be desired behaviour in all situations so I'm looking into adding an opt out for this

[2019-10-08 06:30] #95 closed

[2019-10-08 06:33] colinrtwhite commented on #76
Quick update on this issue. I probably won't have time to address this for `0.8.0`, but will try to tackle it the release after. The plan is to add `ImageLoader`-specific and `Request`-specific config flags to disable this optimization.

[2019-10-09 07:07] kuuuurt opened #140 "Mask ImageView using a vector drawable"
**Is your feature request related to a problem? Please describe.**
How can we do image masking in this library? I need the image to be in a shape from an svg file given by our designer.

**Describe the solution you'd like**
Maybe we can have a `MaskTransformation` of some sort?
[code]

[2019-10-09 15:26] Jawnnypoo commented on #140
Hey there, we have https://github.com/Commit451/coil-transformations for this, which contains `MaskTransformation`, but admittedly I haven't tried it with an Android SVG. Please let me know how it goes and we can adjust as needed!

[2019-10-10 00:15] kuuuurt commented on #140
Thansk! I'm actually using that but it's not resizing as expected. Filed an issue for it!

[2019-10-10 16:03] mlilienberg commented on #61
I saw multiple points of view about this topic. Some people think that null is a valid case and should show nothing. Maybe it makes more sense to define your own null strategy.

`
imageView.load(itemModel.imageUrl) {
   placeholder(R.drawable.ic_placeholder)
   error(R.drawable.ic_error)
   isNull(R.drawable.ic_null)
}
`
or

`
imageView.load(itemModel.imageUrl) {
   placeholder(R.drawable.ic_place

[2019-10-10 16:22] mlilienberg opened #143 "Loosing tint when using together with crossfade"
**Describe the bug**
When using tint and crossfade together the tint that is defined on the ImageView is not applied on the loaded image.

**To Reproduce**
Using following layout definition
[code]
together with crossfade:

[code]

**Expected behavior**
Tint is applied during and after crossfade animation

**Library version**
0.0.7

[2019-10-10 23:04] #143 closed

[2019-10-10 23:05] colinrtwhite commented on #143
Thanks for the report. I just added a fix for this; you can get the fix asap by [depending on `0.8.0-SNAPSHOT`](https://coil-kt.github.io/coil/faq/#how-do-i-get-development-snapshots).

[2019-10-10 23:21] colinrtwhite commented on #61
@mlilienberg Great point. What do you think about the keyword `empty` instead of `isNull`? e.g.:

[code]

[2019-10-10 23:24] colinrtwhite commented on #61
@mlilienberg Great point. I think it makes sense to use the same API as Glide. i.e.:

[code]

Similar to `placeholder` and `error`, you should be able to set the default `fallback` on your `ImageLoader`.

[2019-10-14 07:48] kuuuurt opened #148 "Clear Coil Cache"
**Is your feature request related to a problem? Please describe.**
I have a project where I update the user's profile photo. It just uses the same URL but updates the content. When I try to reload it, (I think) it just gets the value from the cache.

**Describe the solution you'd like**
Maybe a `load(url) { clearCache() } `
or a ` load(url, useCache = false) { ... }`

Or am I missing something her

[2019-10-14 18:08] colinrtwhite commented on #148
Using this will guarantee that your request is always loaded from the network:

[code]

[2019-10-14 20:39] mario commented on #132
I would assume "lots". Network connectivity is different from being able to load something from network for various reasons.

[2019-10-15 02:21] kuuuurt commented on #148
Thanks, Colin! Works as expected. I might've just missed this 🙂

[2019-10-15 02:21] #148 closed

[2019-10-15 04:05] kuuuurt opened #149 "Way to debug failing requests"
**Is your feature request related to a problem? Please describe.**
Is there a way to debug failing requests?

**Describe the solution you'd like**
In my project, I'm encountering this weird behavior where it loads and refreshes nicely but if I go to another page then go back, it just displays the error image so I have to reload again for the picture to load. I can't find anything on why this happe

[2019-10-15 04:08] kuuuurt commented on #149
I just found the `listener()` method. Seems that that's how I can be able to debug

[2019-10-15 04:08] #149 closed

[2019-10-22 08:40] Pitel opened #153 "Image loading WTF with RecyclerView/ViewPager2"
**Describe the bug**
Imagine a screen for some profile editing. It has an option to select from few predefined avatars, and upload a custom one.

The avatar picker is ViewPager2 (so basicaly RecyclerView) with ImageViews.

Adapter:
[code]

Now, when the screen is first opened, and user has custom avatar, the following thing happens:
[code]

So far so good, the image is downloaded and displayed. An

[2019-10-22 09:59] Pitel commented on #153
It seem to me, like Coil is somehow bound to this 'ImageView' in `ViewHolder`, but since it got recycled, it should become unbound, but it does not.

[2019-10-22 10:13] Pitel commented on #153
Also happens with brand new 0.8.0.

[2019-10-22 14:59] jguerinet commented on #126
@colinrtwhite Did this make the cut for `0.8.0`, or was it pushed back to a future version?

[2019-10-22 22:32] colinrtwhite commented on #126
@jguerinet This didn't make it into `0.8.0`, unfortunately.

I had a couple concerns with how to handle transformations that depend on the size of the target (like this one). If we crop the image based on the size of the target, we'll need to modify the cache key so it isn't served to a target with a different size. Rather than rush a breaking change, I pushed it back to a follow up release.

[2019-10-23 12:13] Pitel commented on #153
Can I somehow manually unbind Coil from `ImageView`?

There is this [`onViewRecycled()`](https://developer.android.com/reference/androidx/recyclerview/widget/RecyclerView.Adapter.html?hl=en#onViewRecycled(VH)) method which might be good place to do it. But it sould still be just workaround, because other libs (Glide, Picasso) can handle this without forcing developer to modify Adapter.

Coil is as

[2019-10-23 12:23] Pitel commented on #153
Ok, adding this to adapter fixes the issue:
[code]

But as I said earlier, I consider this just a workaround and I'm not closing the issue.

[2019-10-23 15:11] jguerinet commented on #126
@colinrtwhite Completely get it, thanks for the update! The alternative you proposed 3 weeks ago works just as well and is not as resource heavy in any case. Thanks for the great work!

[2019-10-24 08:14] r4phab commented on #76
Thank you @colinrtwhite for your prompt response and your explanations

[2019-10-24 14:49] mario opened #154 "CircleCropTransformation() does not work on LayerDrawable"
**Describe the bug**
CircleCropTransformation() does not work on LayerDrawable

**To Reproduce**
[code]

**Library version**
0.8.0

[2019-10-27 00:00] colinrtwhite commented on #154
This is currently intended behaviour, as `Transformations` are ignored for non-`BitmapDrawables`. However, I think it makes sense to allow users to apply `Transformations` by converting the input `Drawable` into a `BitmapDrawable`. I've added a fix in #155.

[2019-10-27 04:58] #154 closed

[2019-10-27 20:23] steve-pollack commented on #154
Thank you very much for that!

[2019-10-27 20:26] mario commented on #154
Thanks!

[2019-10-29 08:28] yoesuv opened #157 "BitmapFactory returned a null Bitmap"
Load image from [url like this](https://lh3.googleusercontent.com/Xne_ftCRDBiXSYXuH1XFbav-lk7xXAOvcLhtqjbdqNBKWtoamUPSkev8XaCEpPFGuAI9WqjrYHVJFSxiIQhwsu6AGSwkxw6WqEUrQizK-sxhRdUCTBx1K8wu5DnkKfADGGqKqhHHep36aGiwrJIYsn6ZT5lJ-MUgxnzwo9mMb6iASGzKctpA9zhmTjlA4jkYVlBiBrM-WaktnnDSF9lQRsdG30Hdh4fFQxq3YPWX3MmZSaCZSgvFj7CMKewj7JfCz2sOUFYlbnGWtHY0c6PenvNaOf1NygxgI6u_v2x992dLZKlTGNvyU8DyRKCNrPCG4_XVlbu-9k_YD0

[2019-10-29 19:18] colinrtwhite commented on #157
Thanks; looks like the system logs `SkAndroidCodec::NewFromStream returned null` on Android 24+. Seems like it's an issue with [`BitmapFactory.cpp`](https://stackoverflow.com/questions/39316069/bitmapfactory-decodestream-from-assets-returns-null-on-android-7). Going to leave this open for the moment to see if it can be worked around.

[2019-10-31 08:52] 145k0v opened #158 "Keep aspect ratio of local vector drawables"
When loading a local vector image into a fix-sized `ImageView` (with `centerCrop` and/or `Scale.FILL`), the aspect ratio is not preserved.

**To Reproduce**
Take a look at the sample project [here](https://github.com/145k0v/coil-sample). Just add an `ImageView` with fixed dimensions:

[code]

and load a local vector drawable into it:

[code]

**Expected behavior**
The image should maintain its squ

[2019-10-31 20:19] colinrtwhite commented on #158
Thanks for the report. I'll take a look at this this weekend.

[2019-11-01 02:41] mt131 opened #159 "Software rendering doesn't support hardware bitmaps"
java.lang.IllegalArgumentException: Software rendering doesn't support hardware bitmaps
        at android.graphics.BaseCanvas.onHwBitmapInSwMode(BaseCanvas.java:550)
        at android.graphics.BaseCanvas.throwIfHwBitmapInSwMode(BaseCanvas.java:557)
        at android.graphics.BaseCanvas.throwIfCannotDraw(BaseCanvas.java:69)
        at android.graphics.BaseCanvas.drawBitmap(BaseCanvas.java:127)

[2019-11-01 02:58] mt131 commented on #126
not work on coil 0.8.0

[2019-11-01 05:37] nicemak opened #160 "Image shows rotated on samsung device."
**Describe the bug**
I picked an image from gallery and load it, image is rotated on samsung device/tab.

**To Reproduce**
select an image from gallery and load it imageview on samsung device.

**Expected behavior**
image should show correctly angle/rotated as seen in gallery.

**Library version**
0.8.0

[2019-11-01 18:51] colinrtwhite commented on #159
If you're rendering on a software only canvas, you'll need to add `allowHardware(false)` to your request.

[2019-11-01 18:51] #159 closed

[2019-11-01 18:56] colinrtwhite commented on #160
@nicemak Do you have a sample image I could use to reproduce the issue? Coil looks at the [EXIF data](https://en.wikipedia.org/wiki/Exif) to determine rotation, though maybe this is being stripped by the system.

[2019-11-02 21:33] colinrtwhite commented on #153
@Pitel If you replace `holder.containerView.setImageResource` with `holder.containerView.load` this should solve the issue.

The image is being recycled in `onViewRecycled` since the view is detached, however the image will be reloaded when the view is re-attached. This is required to correctly support Fragments and RecyclerViews (I believe Glide has similar behaviour).

I'd recommend not mixing `

[2019-11-04 05:28] nicemak commented on #160
sure.
![20191101_090058](https://user-images.githubusercontent.com/34672155/68101084-ade9dd80-feed-11e9-88c2-1494a841c299.jpg)
![20191101_090111](https://user-images.githubusercontent.com/34672155/68101085-ae827400-feed-11e9-8ec0-6c8d8073ab93.jpg)

[2019-11-04 08:10] Pitel commented on #153
Oh, that makes sense. And fixed my issue. :+1:

[2019-11-04 08:10] #153 closed

[2019-11-05 16:54] prsolucoes opened #161 "Strange error after use coil"
**Describe the bug**
Fatal Exception: coil.network.HttpException: HTTP 504: Unsatisfiable Request (only-if-cached)
       at coil.fetch.HttpUrlFetcher.fetch + 57(HttpUrlFetcher.kt:57)
       at coil.fetch.HttpUrlFetcher$fetch$1.invokeSuspend + 16(:16)
       at kotlin.coroutines.jvm.internal.BaseContinuationImpl.resumeWith + 33(ContinuationImpl.kt:33)
       at kotlinx.coroutines.DispatchedTask.ru

[2019-11-06 21:31] colinrtwhite commented on #161
An `HTTP 504` error occurs if an OkHttp request is started with both data sources (network and disk) disabled. Coil automatically disables querying from the network if the device is offline. If you also disable the disk cache for this request using `diskCachePolicy(CachePolicy.DISABLED)` while the device is offline, this is intended behaviour as the request cannot be satisfied.

[2019-11-06 21:31] #161 closed

[2019-11-07 09:26] Pitel commented on #27
I'd like something similar. I'd like to load image from cache (almost) immediately, but also check the network in the background for change.

Our image server supports ETag, and _304 Unchaged_ response. But because the URL is still the same, Coil will store the image in memory, and never asks the network again, so the user does not see the updated image. So I have the memory cache disabled, but th

[2019-11-07 18:06] prsolucoes commented on #161
Hi,

But it will generate a crash?

In my case it is crashing the app.

???

[2019-11-07 18:29] colinrtwhite commented on #161
@prsolucoes Are you using `Coil.get`? That will propagate the exception into your `CoroutineScope`. You'll need to surround the call in a `try/catch` or [add a `CoroutineExceptionHandler`](https://kotlinlang.org/docs/reference/coroutines/exception-handling.html#exceptions-in-supervised-coroutines) to your scope.

[2019-11-07 19:56] prsolucoes commented on #161
Hi @colinrtwhite,

Yes, is this that i do. I put a try/catch there and solve the problem.

Can you put after in docs something about it? I think other can have problems with it too.

Im coming from picasso/glide and i think some things are missing or you will add in future like methods: fit, fitCenter, rounded images after resize [some libs don't apply rounded corners when image is resized], cente

[2019-11-09 10:51] itsandreramon opened #163 "Force refresh an ImageView"
**Describe the bug**
For example, when navigating to a fragment and calling ImageView.load() in onViewCreated() or onResume(), the image is being loaded correctly. However, when updating the image via an intent, the image in the ImageView is not being updated correctly despite calling ImageView.load() again.

What's weird too is that, **when navigating** to that same fragment **via a BottomNav** f

[2019-11-09 20:23] colinrtwhite commented on #163
Sounds like the image is being served from the memory cache. To fix this you can set a custom cache key using `key`. If the data changes, your cache key should change and it will miss the memory cache.

Alternately, you can skip reading/writing to the memory cache using:

[code]

[2019-11-09 20:23] #163 closed

[2019-11-10 02:31] colinrtwhite commented on #160
@nicemak I haven't been able to reproduce this on a Samsung Note 8 running 8.0. The image contains the correct EXIF orientation after decoding the uri returned by `Intent(Intent.ACTION_PICK, MediaStore.Images.Media.EXTERNAL_CONTENT_URI)`.

What device + OS version can you reproduce this on? Could you create a sample project to reproduce the issue? Thanks.

[2019-11-10 04:54] #158 closed

[2019-11-10 05:01] colinrtwhite commented on #80
Closing this out, but feel free to reopen if you have more questions.

[2019-11-10 05:01] #80 closed

[2019-11-11 08:48] pnehren opened #167 "Replace image when loaded"
** Description
I want to use one ImageView to show a slideshow of images from disk. If i use this library there is a small gap between the loaded images so that image 1 is shown, then nothing, then image 2 and so on. Is it possible to replace the image in view when the new is loaded in background?

Thanks!

[2019-11-12 05:57] nicemak commented on #160
Thanks for your time, i have managed to do it myself. :)

[2019-11-12 05:57] #160 closed

[2019-11-12 08:24] 3mph4515 commented on #126
Maybe someone wrote his own `Transformation` implementation and ready to share?

[2019-11-12 09:05] #98 closed

[2019-11-12 09:05] #99 closed

[2019-11-12 09:12] colinrtwhite commented on #99
This is now supported! 🎉 The transitions API is part of the `0.9.0-SNAPSHOT`.

Definitely looking for feedback on the API (it'll be marked as experimental for one release) so if you have suggestions let me know!

Both `ImageLoader` and `Request` builders accept a Transition.Factory, which enables you to return a new transition (or null for no transition) for each `Transition.Event`.

[Check out th

[2019-11-13 00:48] chrisbanes commented on #99
Thanks Colin! I'll take a look at this later today.

[2019-11-13 01:07] colinrtwhite commented on #99
Thanks! No rush - probably still a couple weeks away from releasing `0.9.0`.

[2019-11-13 03:25] chrisbanes opened #170 "[Feedback] Transition API in 0.9.0"
Hi all,

Had a look at the new Transition API earlier today, and added a draft PR here: https://github.com/chrisbanes/tivi/pull/526

Overall I liked the API and it achieves what I needed it to :smile:. Some small API feedback:

* Is the `Event` class really an event? Looking at the items in it, maybe `LoadResult` is a better name?
* Similarly the naming of `Transition.Adapter` isn't obvious to me.

[2019-11-13 12:33] itsandreramon commented on #163
Using a custom key fixed it. Thanks!

[2019-11-13 12:54] itsandreramon commented on #163
Using different cache keys worked for me. Thanks!

[2019-11-13 13:22] itsandreramon commented on #163
There must be a bug in this library. Even with different random cache keys the image gets sometimes refreshed, sometimes not. I debugged this and logged the keys to the console.

[2019-11-13 16:57] itsandreramon commented on #163
Thanks! Using the cache keys fixed it for me. There was another bug in my app that caused the activity to finish() before the image upload process was completed.

[2019-11-13 20:18] colinrtwhite commented on #167
As a workaround you could use the ImageView's current Drawable as the `placeholder` for the next request. Not clearing the previous Drawable in `onStart` add complexity to how `PoolableViewTarget` works.

[2019-11-13 23:05] colinrtwhite commented on #170
Thanks for the quick feedback!

- Great suggestion. What do you think about just `Transition.Result`? I'm wary to add `Load` to the beginning so users don't think there's also a `GetResult`.
- Yep, `Adapter` isn't the best name either. I like `TransitionTarget`, however I want to avoid it extending `Target` since `Transition`s ideally shouldn't have knowledge of `TransitionTarget.onSuccess` or `Tr

[2019-11-13 23:14] chrisbanes commented on #170
1. `Transition.Result` sounds good to me.
2. Yep, makes sense.

[2019-11-13 23:28] chrisbanes commented on #170
Following on from your comment on my PR: https://github.com/chrisbanes/tivi/pull/526/files/396f93fda00dbf543236647900df4f774c6d0a64#r346047675

I wonder if this can be simplified. What does the factory actually give us? Personally I think we could get rid of the `Factory` and just make each `Transformation` handle the different states and `Transition.Result`.

[2019-11-14 08:52] colinrtwhite commented on #170
Yep, was going back and forth on adding the factory as well. Here was my thought process:

- Without the factory, each `Transition` instance will have to be stateless since it'll be called many times if registered as part of `ImageLoaderBuilder.transition`. We already kind of require this for `Transformation`s since they can be reused across many requests, however reusing the same `Transition` ins

[2019-11-14 10:00] clint22 opened #171 "Does Coil support imageByteArray?"
When I'm trying to pass imageByteArray as a parameter into the load function it's throwing some error such as 'None of the following functions can be called with the argument supplied'. But it's working perfectly using Glide. Sharing my code snippet of what I have done using Coil and Glide.

Using Coil
----------

                            val imageByteArray = Base64.decode(imageBytes, Base64.DE

[2019-11-14 21:14] chrisbanes commented on #170
Hmmm, I'm not against the `Factory`, it just makes the decision tree a bit complex and spreads it across different classes. Looking at the code again, I think the current setup is good. The Factory potentially allows dependency injection, etc, which is good futureproofing too.

Maybe the `Transformation` should follow suit?

[2019-11-14 22:26] colinrtwhite commented on #171
It's not part of the base library, but it could be added pretty easily with a custom `Fetcher`:

[code]

You can then add it to your `ComponentRegistry` when constructing the default `ImageLoader`. [Check out here for an example](https://github.com/coil-kt/coil/blob/master/coil-sample/src/main/java/coil/sample/Application.kt).

[2019-11-15 11:02] clint22 commented on #171
Wow. It worked perfectly. Thank you.

[2019-11-15 11:02] #171 closed

[2019-11-15 22:07] colinrtwhite commented on #170
I think I'd want to avoid adding a factory to the `Transformation` API since It adds extra complexity to that API (Glide doesn't have one either). Overall, I'm leaning to removing the factory since I'd guess most people won't need to hold mutable state in a `Transition`. If someone needs a factory, since `Transition` only has one method, they could do something like this:

[code]

I think one of t

[2019-11-18 08:58] damiancioo opened #176 "Add support for transformations in coil-gif"
**Is your feature request related to a problem? Please describe.**
Right now I want to use coil's coil gif extension together with transformations, it seems that Gif extension is ignoring them

I did:
[code]
and load image with:
[code]

**Describe the solution you'd like**
Gid extension should apply transformations

[2019-11-18 22:56] colinrtwhite commented on #176
Yep, I'd like to add support for this as well, however it'll need to account for [ImageDecoder](https://developer.android.com/reference/android/graphics/ImageDecoder) and more specifically [PostProcessor](https://developer.android.com/reference/android/graphics/PostProcessor).

`PostProcessor` has some key differences from `Transformation`s:
- It passes a `Canvas` instead of a `Bitmap`.
- The canv

[2019-11-20 19:27] tedlefter opened #178 "Coil fails to load image with a native crash on emulator"
**Describe the bug**
A particular image is failing to load when using Coil.
The app crashes with a native crash.

Image causing this: https://d2lnr5mha7bycj.cloudfront.net/product-image/file/primary_2a461463-ca35-44b6-82b7-426375c8f70c.png

**Expected behavior**
The image should load and be displayed in the ImageView

**To Reproduce**
Load the above-mentioned image into an ImageView

**Version**
T

[2019-11-20 19:50] colinrtwhite commented on #178
Thanks, I think this might be an issue with the emulator since it isn't reproducible on a physical device, but will take a look.

[2019-11-22 23:03] #61 closed

[2019-11-23 00:09] colinrtwhite commented on #61
This is now supported in master. To get the fix asap you can [depend on `0.9.0-SNAPSHOT`](https://coil-kt.github.io/coil/faq/#how-do-i-get-development-snapshots).

NOTE: There might be minor behaviour changes to the feature before `0.9.0` stable.

[2019-11-27 10:04] Ravshan1Uz opened #182 "Cache control"
When device is offline coil show image from cache. And when device become online, coil redownload images from network, which were downloaded from cache. How to disable this?

[2019-11-27 19:54] colinrtwhite commented on #182
Sounds like the server you're downloading from is setting a short `cache-control` value. You can have OkHttp rewrite this using a network interceptor. [Here's how it's done in the sample app](https://github.com/coil-kt/coil/blob/master/coil-sample/src/main/java/coil/sample/Application.kt#L45).

[2019-11-30 02:20] #76 closed

[2019-11-30 02:24] colinrtwhite commented on #76
This is now fixed in master. To get the fix asap you can [depend on `0.9.0-SNAPSHOT`](https://coil-kt.github.io/coil/faq/#how-do-i-get-development-snapshots).

See https://github.com/coil-kt/coil/pull/183 for more info on the implementation, but TLDR Coil will now ensure the loaded image's dimensions are as requested for custom targets or `Coil.get`.

[2019-11-30 07:29] colinrtwhite commented on #182
Feel free to reopen this issue if intercepting the `cache-control` header didn't fix your issue.

[2019-11-30 07:29] #182 closed

[2019-12-02 10:31] Pitel opened #188 "Ugly cached vector"
**Describe the bug**
I have a list a with avatars. The avaras are `VectorDrawable`s. When select some avatar and going to edit screen, when the avatar si larger, it's ugly, like resized low-res. I've figured out it's caused by memory caching, because adding `memoryCachePolicy(CachePolicy.DISABLED)` to each avatar `load()` fixes the issue. But then, the `ViewPager` for avatar selection is ineffecti

[2019-12-03 02:31] arsonistAnt opened #189 "Image scaling quality is different on landscape & portrait mode?"
Hi not too sure if this is a bug so I decided to label it as a question.

**Setup:**
I basically have a `RecyclerView` of items that will take me to an `ImageView` when I tap on it. I've also set the `scaleY` & `scaleX` to `8.0F` with the help of `Request.Listener` when the image has finished loading from the URL.

**Problem:**
When I tap on my item in portrait mode and switch to landscape the ima

[2019-12-03 09:05] colinrtwhite commented on #189
Hmm that definitely isn't intentional. Does the image load with the correct resolution if you don't set `scaleX` or `scaleY`? What happens if you disable the memory cache with `memoryCachePolicy(CachePolicy.DISABLED)`? Also do you have a small code snippet, project or another way I can reproduce this?

[2019-12-03 11:22] arsonistAnt commented on #189
The image resolution is different even if I don't set the `scaleX` and `scaleY`.

I checked the drawable size in my image view and compared from first & second method of going to the image which was:

1. In portrait mode
2. Go to image
3. Switch to landscape.

_Versus_

1. In landscape mode
2. Go to image

Both landscaped image drawables were different sizes.

Tried this but it seems like there is

[2019-12-03 14:59] pnehren opened #190 "OutOfMemoryError when Bitmap gets decoded"
Hello together,

thanks for that wonderful framework, it just works! But i experience some OutOfMemoryErrors on a device with less RAM, do you have any suggestions how to avoid them?
I disabled disk cache, because the images are only valid for a few minutes. is it better to disable memory cache too?

Thanks for your help!

coil.decode.BitmapFactoryDecoder.decode (BitmapFactoryDecoder.java:142)
coi

[2019-12-03 19:04] colinrtwhite commented on #190
If you're running out of memory, the best way to work around this is to reduce the amount of memory `ImageLoader` can hold. Coil defaults to 25% of the app's memory, but you can change that value using [`ImageLoaderBuilder.availableMemoryPercentage`](https://coil-kt.github.io/coil/api/coil-base/coil/-image-loader-builder/available-memory-percentage/).

[2019-12-03 19:04] #190 closed

[2019-12-03 22:11] jahirfiquitiva opened #191 "Is there a way to use a request as placeholder?"
Say I have a placeholder image url and the actual image url. Is it possible for me to load the placeholder first, and then upon completion load the actual image?

I already tried this without success

[code]

[2019-12-04 06:59] colinrtwhite commented on #191
Placeholders can only be set synchronously at the moment, however you could work around this by chaining two load operations:

[code]

I'm tracking support for asynchronous placeholders here: #27

[2019-12-04 06:59] #191 closed

[2019-12-04 07:04] colinrtwhite commented on #100
Hmm I'm not sure it makes sense to add this to Coil. Coil is intentionally built to only support `Drawables` as the result of loading an image. Most `load` operations don't have a file we can return (Uris, resources, bitmaps). Also, since Coil is backed by `OkHttp` isn't not possible to get access to the underlying disk cache.

[2019-12-04 12:04] Starscream9559 opened #192 "Loading Speed Improvement"
**Is your feature request related to a problem? Please describe.**
Aint no problem. Coil helps me load images on AppBar but Glide is not. So if this is very possible as it is heading to 1.0, why use 2 image loading libraries that do the same thing, right?

**Describe the solution you'd like**
Improvement on loading speed to defeat Glide as the game changer. Refering to the test done here, https://

[2019-12-04 12:09] Starscream9559 commented on #192
I should've put that Milestone flair.. but I missed it.

[2019-12-04 19:40] colinrtwhite commented on #192
Yep! I agree. I'm still focused on stability + features, but after that I'll be focusing on speed before the 1.0 release. Also check out my response to that article [here](https://www.reddit.com/r/androiddev/comments/d6cd43/coil_vs_picasso_vs_glide_get_ready_go/f0t997m/).

Tracking support for speed measurement + improvements [here](https://github.com/coil-kt/coil/issues/71).

[2019-12-04 19:40] #192 closed

[2019-12-06 06:31] nicemak opened #193 "How to set scale fitxy?"
hi,

i set scale type to fitXY, but it is not working, i used scale(Scale.FILL) but image shows as centerCrop. what i am missing or how can i set image to fitXY?

[2019-12-06 19:43] colinrtwhite commented on #193
Did you set `android:scaleType="fitXy"` on your `ImageView` as well?

[2019-12-07 07:30] nicemak commented on #193
yes

[2019-12-08 01:20] FrostRocket commented on #96
The RoundedCornersTransformation does work, but what I found in my testing is that it rounds the actual image, not the ImageView itself (which is probably what you're expecting). So the image ends up rounded, then scaled into the Imageview via the ScaleType you specified. If it resizes the image to crop, you'll lose those corners.

I was also expecting "RoundedCornersTransformation" to round the i

[2019-12-09 09:04] bishiboosh commented on #76
@colinrtwhite just to know, when are you planning to release 0.9.0 ? Just to know if I need to use some workarounds or wait a little bit

[2019-12-09 10:03] colinrtwhite commented on #76
@bishiboosh I'd guess in the next 1-2 weeks. Definitely before December 25th.

[2019-12-09 10:06] colinrtwhite commented on #96
@FrostRocket Yep, it's "technically" working, though definitely not the desired behaviour. Tracking the fix [here](https://github.com/coil-kt/coil/issues/126).

[2019-12-10 10:19] JulianBissekkou commented on #157
@yoesuv  Any update on this?

[2019-12-10 19:35] #189 closed

[2019-12-11 12:25] yoesuv commented on #157
@JulianBissekkou not yet, but move to another image hosting and works fine

[2019-12-14 10:09] Hospes commented on #25
Hi there, any chance of having it in near future ?

[2019-12-14 21:21] colinrtwhite commented on #25
@Hospes Unfortunately this isn't likely to be supported soon. I'd like to add support for this, however `MediaMetadataRetriever`'s APIs don't work well with Coil's design:

- Coil is designed to separate the source of the data from the decoding behaviour by using `BufferedSource` as an intermediate representation. This makes it easy to add support for custom image formats that work transparently a

[2019-12-14 21:23] colinrtwhite commented on #193
@nicemak Could you try using the [latest snapshot](https://coil-kt.github.io/coil/faq/#how-do-i-get-development-snapshots) and let me know if you still see the issue? Also do you have a code snippet and screenshot I could use to debug?

[2019-12-14 21:24] colinrtwhite commented on #188
@Pitel Could you try using the [latest snapshot](https://coil-kt.github.io/coil/faq/#how-do-i-get-development-snapshots) and let me know if you still see the issue?

[2019-12-16 03:51] nicemak commented on #193
actually we have overcome the issue with different approach, but if we need to this again with some other scenario i will use your latest snapshot.

Code Snippet:
`<ImageView
            android:id="@+id/product_image"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:scaleType="fitXY"
            app:layout_constraintBottom_toBottomOf="par

[2019-12-17 17:47] littledot opened #206 "MovieDrawable does not scale at all when ImageView's scaleType is fitXY"
**Describe the bug**
Consider the following layout
[code]
which is loaded with 2 gifs
[code]
will yield the following output:

![](https://i.imgur.com/l8dYSTc.png)

Is it expected that specifying `scaleType:fitXY` in the ImageView to cause Coil to not perform any scaling?

I was hoping Coil to at least use `Scale.FIT`.

**Expected behavior**

**To Reproduce**
Run the project: https://gitlab.com/li

[2019-12-18 02:39] colinrtwhite commented on #206
Thanks for the report + sample project. This should be fixed by https://github.com/coil-kt/coil/pull/202. Can you try the [`0.9.0-SNAPSHOT`](https://coil-kt.github.io/coil/faq/#how-do-i-get-development-snapshots) and let me know if that fixes the issue? The stable `0.9.0` release should be out later this week.

[2019-12-18 02:41] colinrtwhite commented on #193
:+1: Sounds good. Feel free to open another issue if you run into this again and can reproduce it on the snapshot.

[2019-12-18 02:41] #193 closed

[2019-12-18 10:24] littledot commented on #206
Awesome, this is indeed fixed in 0.9.0

[2019-12-18 10:24] #206 closed

[2019-12-21 02:14] bmc08gt opened #207 "coil-base: ImageView extensions unavailable without core"
It seems that the ImageView extensions aren't available without bringing in the whole coil implementation. Is that correct? From what I can see from the documentation it is recommending to only bring in coil-base for dependency injection.

[2019-12-22 01:43] mario opened #208 "Coil Circle transformation from master"
**Describe the bug**
Something seems off. See screenshot - there's dark gray at the outer edge of a circle where it shouldn't be. All works well with 0.8.

<img width="61" alt="Screenshot 2019-12-22 at 02 40 10" src="https://user-images.githubusercontent.com/5810/71315756-d52c4800-2464-11ea-8fad-4ac855eeb109.png">

[2019-12-22 21:49] colinrtwhite commented on #207
Yep, the `ImageView` extensions are intentionally part of the `coil` artifact since they rely on the default `ImageLoader`. If you're injecting your `ImageLoader` instances, the way to load images is pretty similar:

[code]

 I'm planning to rewrite that part of the docs to make it more clear that most people will prefer to use `coil` and `coil-base` is mainly for advanced users and libraries that

[2019-12-22 21:49] #207 closed

[2019-12-22 23:57] colinrtwhite commented on #208
Good catch! Thanks for the report. This was caused by unintended integer division in https://github.com/coil-kt/coil/pull/185. https://github.com/coil-kt/coil/pull/210 fixes the issue and adds a regression test. Can you close this issue once you've verified it's fixed in the latest snapshot for your app?

[2019-12-23 04:02] vvVenom commented on #56
@colinrtwhite I think these should be built into the coil because it is the basic conversion, such as centerCrop, fitCenter

[2019-12-23 06:23] colinrtwhite commented on #56
@vvVenom If you're loading into an `ImageView` Coil will automatically detect its `scaleType` and load the image at the correct dimensions so it fits/fills the view.

[2019-12-23 06:33] vvVenom commented on #56
If I set the background for the view, I should use `CenterCropTransform(viewHeight: Int, viewWidth: Int) / CenterCropTransform(view: View)`

Obviously this is useful in certain situations.

[2019-12-23 06:37] mario commented on #208
Sorry for the not-so-well-written bug, I would have followed-up eventually. Thanks for the fix, I'll test it later today!

[2019-12-23 09:35] GarikKhachaturyan commented on #157
Same with me

[2019-12-24 04:53] alanleedev commented on #37
I'm running into the same problem, trying to set a placeholder image that is circle cropped. I'm getting a square placeholder image then the circle cropped image that is loaded. Is this issue still not resolved?

[2019-12-24 20:47] #126 closed

[2019-12-24 20:49] colinrtwhite commented on #126
This should now work as intended in master. To get access to this change right away, you can depend on the [snapshot](https://coil-kt.github.io/coil/faq/#how-do-i-get-development-snapshots). Else, it'll be released on Coil 0.9.0 stable very soon.

[2019-12-24 20:52] #167 closed

[2019-12-24 22:03] mario commented on #208
Seems to work nicely, thank you very much! All the best for holidays!

[2019-12-24 22:03] #208 closed

[2019-12-29 03:31] mario opened #214 "Coil won't show cached response for 201 when offline"
**Describe the bug**
1) Use Coil master (or 0.8)
2) Load an image from an endpoint that generates 201
3) Close the app and go Airplane mode
4) Open the app and see all other images loaded from cache except the one that got 201 as response previously

**Expected behavior**
Everything should be cached if we've got the image and the result shown.

**To Reproduce**
I understand that OKHttp is used for

[2019-12-29 09:19] colinrtwhite commented on #214
Thanks for the report. Sounds like it might be an issue with [NetworkObserver](https://github.com/coil-kt/coil/blob/master/coil-base/src/main/java/coil/network/NetworkObserver.kt). I'll take a look next week if no one beats me to it.

[2019-12-29 11:20] mario commented on #214
Just to be clear - I've looked into the OKHttp cache files and it's indeed missing the cache entries for responses which have 201 as response code - why? Dunno, it baffles me as 201 is also a succesful response in all the standard book.

[2019-12-29 11:42] mario commented on #214
OkHttp does not cache 201.

https://github.com/square/okhttp/blob/24413c1bbf675d63b07fab3ed7a4acfe1a45cf0a/okhttp/src/test/java/okhttp3/CacheTest.java#L108

Sorry for the hassle - I've managed to workaround this by means of Network interceptor and rewriting the response code.

If anyone comes along this problem:

[code]

[2019-12-29 11:42] #214 closed

[2019-12-30 06:27] colinrtwhite opened #218 "MovieDrawable fails to decode GIFs on API 14-18."
**Describe the bug**
`MovieDrawable` fails to render GIFs on API 14-18. This is because `Movie.decodeStream` requires an `InputStream` that is resettable as shown in the logs:

[code]

**To fix:** we'll need to wrap `BufferedSource` with a custom `InputStream` implementation that buffers the entire GIF into memory until it is closed.

**Expected behavior**
The GIF is decoded and rendered properly.

[2019-12-30 09:33] mario opened #219 "Re-loading drawable in RecyclerView fails"
**Describe the bug**
Load an existing drawable in a recycler view item - works.
Rotate the phone, item is re-binded but the image isn't there even though Coil claims it started loading them.

**Expected behavior**
The drawable is loaded as expected.

**To Reproduce**
The used code is simple:

[code]

**Logs/Screenshots**
[code]

After re-binding items/on rotation:

[code]

**Version**
I tried with

[2019-12-30 12:36] mario opened #220 "Optimize placeholder and error"
I use the following syntax to set both the placeholder and an error:

[code]

Note that they are the same. What happens though is the following:

- Placeholder is set
- Loading of URL fails thus setting the error drawable WHICH Is the same causing the UI to refresh

Any way we can avoid setting the drawable again if they're the same? That would make for a nicer experience.

[2019-12-30 18:29] colinrtwhite commented on #170
Made some changes to the `Transitions` API [here](https://github.com/coil-kt/coil/pull/216). Shipping it as part of 0.9.0 today since there are some important fixes in master, but it's definitely still open for feedback/change!

[2019-12-30 18:34] mario commented on #220
Alternatively (and this would be my preferred solution) if I set a placeholder and I don't set an error drawable, upon failure it should not clear the placeholder.

If you'd accept such a change, I'm happy to dive in further into the code and submit a PR - would be a nice way to get involved more as I really appreciate all you're doing.

[2019-12-30 20:53] ShaishavGandhi opened #221 "Crash with Coil 0.9.0"
**Describe the bug**
After upgrading to Coil 0.9.0, I get an exception `java.lang.IllegalArgumentException: durationMillis must be > 0.`

**Expected behavior**
In 0.8.0, this wouldn't crash.

**To Reproduce**
How can we reproduce this?
The code that's triggering it:
[code]
**Version**
0.9.0

[2019-12-30 20:55] colinrtwhite commented on #221
Thanks! Taking a look.

[2019-12-30 20:55] ShaishavGandhi commented on #221
I guess i'm kinda misusing the API since crossfade is false by default. But I would still consider this a bug :)

[2019-12-30 21:00] colinrtwhite commented on #221
Definitely a regression related to the new `Transition`s API. Likely going to release 0.9.1 with a quick fix for this.

[2019-12-30 21:14] #221 closed

[2020-01-01 17:15] mario commented on #25
What about using NanoHttpd to serve the input stream over on APIs lower than 22? That alows seeks AFAIK.

[2020-01-02 05:04] colinrtwhite commented on #25
@mario How does it allow seeking? On pre-23, `MediaMetadataRetriever` requires a `File` or a `Uri` and can't accept an `InputStream`.

[2020-01-02 05:14] colinrtwhite commented on #220
I don't think we'd want to skip calling lifecycle methods as it makes the `Target` lifecycle less predictable. Part of the strength of Coil is that a request will always call either `onSuccess` or `onError` exactly once after calling `onStart`.

You mentioned it's causing the UI to refresh when calling `onError`. What do you mean by that? Ideally, calling `Target.onError` should be an inexpensive

[2020-01-02 05:17] colinrtwhite commented on #219
Thanks for the report. Are you able to create a case to reproduce this bug? The Coil sample app has a `RecyclerView` and supports rotation, but I'm unable to reproduce the issue. Maybe you could write a patch for the sample app that reproduces this?

[2020-01-02 09:20] mario commented on #220
Well, the call itself is inexpensive, but on some phones there is flickering as the image is re-set even though the actual images are the same. I tried using it without error(drawable) but then the imageview becomes empty on error (because error drawable is not set) which is also not a solution for me.

[2020-01-02 11:50] mario commented on #25
@colinrtwhite you serve the input stream via local http server and access it through ranges as a regular Uri.

[2020-01-02 15:36] mario commented on #219
I'll try to come up with a sample if I can find a self-contained case.

At the very least, this is what I have so far from logs:

RealBitmapPool: Missing bitmap=[58564]

So it looks like the image went missing somewhere xD

[2020-01-02 17:28] FrostRocket commented on #126
Updated to latest, 0.9.1, rounded transformation is now being applied to the ImageView itself. Verified 👍

[2020-01-02 19:48] colinrtwhite commented on #219
That's actually a safe log. `RealBitmapPool: Missing bitmap=` is saying that the `BitmapPool` couldn't reuse an existing `Bitmap` and had to allocate a new one.

[2020-01-02 21:00] JeremiahStephenson opened #223 "PhotoView + Coil + crossfade = no pinch-to-zoom"
**Describe the bug**
When using Chris Banes' PhotoView library with Coil + crossfade the pinch-to-zoom is broken. This appears to be due to CrossfadeDrawable updating the loaded drawable's bounds. Unless I'm mistaken I only see two options to get around this. Either disable crossfade for PhotoView or create my own transition.

**Expected behavior**
Pinch-to-zoom continues to function with crossfad

[2020-01-02 21:23] colinrtwhite commented on #223
Thanks for the report. @Jawnnypoo any ideas (since you're maintaining `PhotoView`)?

The behaviour of `CrossfadeDrawable` changed slightly in `0.9.0` to better support crossfading between drawables with no intrinsic dimensions (like a `ColorDrawable`) and drawables with dimensions.

`CrossfadeDrawable` will have a width/height of -1 if either of its children have that dimension as -1. [Code](https

[2020-01-02 21:26] colinrtwhite commented on #220
Hmm the image should redraw synchronously as part of the next layout pass and avoid flickering. Just to confirm you're loading into an `ImageView` using `imageView.load(url)`?

[2020-01-02 21:53] Jawnnypoo commented on #223
Hey @JeremiahStephenson , I added Coil to the PhotoView sample on `master`, and I don't see any issues currently. Can you potentially make a PR on that repo that shows the issue, or post code changes in here needed to make this break? https://github.com/chrisbanes/PhotoView/blob/master/sample/src/main/java/com/github/chrisbanes/photoview/sample/CoilSampleActivity.kt

[2020-01-02 22:39] JeremiahStephenson commented on #223
@Jawnnypoo The sample works because the `multiplier` value in `CrossfadeDrawable.updateBounds` is always 1. In my scenario that's coming out as 1.2 and that leads to the issue. I'll try and duplicate it in your sample so you can see what I mean.

[2020-01-03 01:51] JeremiahStephenson commented on #223
Turns out that my drawable is being loaded at a shorter width than it should be and that is what leads to `multiplier` being higher than 1. I'm not entirely sure yet what's causing it yet. I suspect it has something to do with my loading drawable. I'll investigate more tomorrow.

[2020-01-03 09:45] mario commented on #220
Yes - I've actually seen a similar behaviour few years back with ImageView when images were set in quick succession. Anyway, that's a whole different matter that I'll investigate myself - since you feel the feature request is not warranted here, I'll go ahead and close it.

As always, thanks for being informative and friendly!

[2020-01-03 09:45] #220 closed

[2020-01-03 10:33] mario commented on #219
So I think I found the issue.

RealImageLoader has this block of code:

[code]

What happens is that cachedDrawable is null, but the block still executes somehow.
I'm investigating why is that.

[2020-01-03 10:37] mario commented on #219
It also claims the target is null, while the actual "result" variable gets the proper drawable from disk cache.

[2020-01-03 10:38] mario commented on #219
(Ignore me if I make no sense, just writing it all down here so I can debug easier)

[2020-01-03 10:55] mario commented on #219
Also the mappedData in the same method seems to hold my drawable.

[2020-01-03 12:54] mario commented on #219
Btw. Missing bitmap as a log might be safe, but for image views/loads where I get that log message -> the image is not set to the image view.

I'm still hopeful it's my mistake somewhere, just dunno where yet.

[2020-01-03 13:33] mario commented on #219
What's really strange is that none of the cancel/error/success listeners get called :-/

[2020-01-03 16:19] JeremiahStephenson commented on #223
@Jawnnypoo @colinrtwhite
It is an issue with having a custom loading drawable with the crossfade animation. The loading drawable sets the target bounds on the `PhotoView` which is what leads to the `multiplier` value being greater than 1 for the end image in the Crossfade drawable.
I was able to break the sample by using this below as the loading drawable.

`class LoadingDrawable(context: Context)

[2020-01-03 16:50] mario commented on #219
So far I've managed to fix loading drawables/bitmaps after rotation, but not images from URLs.

Following snippet is what I've done so far, and it goes after line 203:
https://github.com/coil-kt/coil/blob/6102d5f408485a07c3814df469e2243bf45a2b44/coil-base/src/main/java/coil/RealImageLoader.kt#L203

[code]

Clearly no idea if any of that is good logic-wise, but result wise seems to do the trick.

[2020-01-03 20:30] alanleedev opened #224 "automatically load placeholder when loading empty or null URI"
Using the following code
[code]

If the `url` is empty or null then it would be great if the placeholder is loaded automatically.
It doesn't seem to do that currently.

[2020-01-03 21:35] mario commented on #219
So while writing a sample I've decided to go with default android components (plain adapter, recycler view, etc) instead of all those libraries I have in the project. And it looks like the culprit is in one of those - so I'll close this now until I get smarter and I'll just move to default components.

Sorry for the hassle :(

[2020-01-03 21:35] #219 closed

[2020-01-03 21:49] DeepPSingh commented on #100
Hi @colinrtwhite I am also looking for something similar. My use case is if image gets deleted from server then I need to delete just that image from device local cache. But currently I can't find a way to just fetch that particular image from cache.

Does Coil supports deleting selected file from cache?
If yes then how can I achieve it?

[2020-01-03 23:04] chimbori opened #225 "Method name `error()` conflicts with `kotlin.error()`"
I’m using `Coil.get` in a suspend function, and passing a trailing lambda. I can include other methods such as `allowHardware(false)` in the trailing lambda, but calling `error(R.drawable.any)` calls the Kotlin `error(message: Any)` instead.

[code]

The problem only affects `error`, not other method names (obviously). And I also don’t see an explicit import for `kotlin.error`, so there’s no way t

[2020-01-04 01:11] mario commented on #225
I don't think that's how "get" is supposed to work - error and placeholder are used to set an image to a view, and with "get" that's not what happens.

You should be able to accomplish the same with something like this:

[code]

[2020-01-04 01:14] chimbori commented on #225
That’s what I tried first, but `.get` returns `Drawable`, not `Drawable?`. So the natural assumption was that an error drawable would be decoded and returned.

And the other options do work fine, which must be passed along to `Coil.get` for a successful fetch (e.g. `allowHardware`)

[2020-01-04 12:02] mario commented on #225
Yes it returns a Drawable, but it also throws an exception if something goes wrong (i.e. 404 on the request).

[2020-01-04 12:05] mario commented on #224
Can't you just do imageView.load(context.getDrawable(R.drawable.image)) instead?

[2020-01-04 13:58] MaggiWuerze opened #226 "How to access Exif Data after image is loaded from remote source?"
Hi,
I am building a Gallery App and was wondering if there is a way to access the EXIF Data of the image retrieved from server (i read in anopther issue that you read exif data already for orientation) after `View.load` is done, maybe in `listener` or `target`.

Any help would be greatly appreciated

[2020-01-04 18:33] colinrtwhite commented on #219
No worries! Thanks for investigating. 👍

[2020-01-04 18:34] colinrtwhite commented on #224
You can also use:

[code]

to set a fallback drawable if the url is null.

[2020-01-04 18:52] colinrtwhite commented on #225
@mario is right. `Coil.get` creates a [`GetRequest`](https://github.com/coil-kt/coil/blob/master/coil-base/src/main/java/coil/request/Request.kt#L210) which doesn't support an error drawable (or placeholder).

This is currently intended behaviour as setting an error drawable would suppress any exceptions thrown by `Coil.get`. Similarly, removing the `error` setter from a `Coil.get` call would make

[2020-01-05 18:14] colinrtwhite commented on #25
@mario Would the code to serve the input stream go in the `Fetcher` or the `Decoder`? How would you access it through ranges in a `Decoder`? Sorry if I'm misunderstanding.

[2020-01-05 18:31] mario commented on #25
@colinrtwhite I am of the opinion that in should definitely go in Decoder as Fetcher doesn't need knowledge of this. As for how I'd access it in ranges - MediaMetadataRetriever does this automatically by requesting 65k bytes while iterating through the stream - it's the job of the http server (powered by [nanoHTTPD or](https://github.com/NanoHttpd/nanohttpd) even better [AndroidAsync](https://gith

[2020-01-05 18:36] mario commented on #226
You'll have to do this on your own as far as I know - take a look at ExifInterface - https://developer.android.com/reference/androidx/exifinterface/media/ExifInterface.html

[2020-01-05 19:23] mario commented on #178
Seems like an issue with Hardware graphics emulation on API 26 emulator (which I can reproduce).

[code]

Could you try with Graphics set to Software pls @tedlefter?

[2020-01-05 19:34] mario commented on #157
I think the behaviour of Coil here is correct. While there is an image returned by the URL, it is accompanied by HTTP code 403 with a meaning of Forbidden. Success would mean a code between 200 and 300. So I'd leave the behaviour as-is, but it's up to @colinrtwhite to decide what to do.

[2020-01-05 19:44] mario commented on #157
Update: actual value returned is HTML, not an image. So behaviour of Coil is indeed correct.
I'd suggesting closing the issue.

[2020-01-05 23:15] mario commented on #178
I confirm that the fix is in the following:

[code]

So what you want to do @tedlefter is set allowHardware to false and it'll all work.

@colinrtwhite if you feel this resolves the issue, close it (as I have no authority to do it)

[2020-01-06 04:53] colinrtwhite commented on #178
Is there a way for us to work around this inside Coil? Also if I remember correctly Glide loads that image correctly in the emulator.

[2020-01-06 04:57] colinrtwhite commented on #25
`MediaMetadataRetriever` doesn't iterate through the source in increasing order, though. It will jump to the end of the video then back to the beginning while reading. For AndroidAsync or a similar server to respond it'll have to buffer the input `BufferedSource` into memory, which we want to avoid.

[2020-01-06 08:42] mario commented on #178
@colinrtwhite yup, fix is here: https://github.com/coil-kt/coil/pull/229

[2020-01-06 08:45] Pitel commented on #188
Looks fixed in 9.0.1. Thanks. :+1:

[2020-01-06 16:40] JeremiahStephenson commented on #223
If I create a custom transition that uses the `CrossfadeDrawable` from `0.8.0` then everything works fine.

[2020-01-06 17:09] #218 closed

[2020-01-06 19:59] colinrtwhite commented on #157
@mario Interesting - I could have sworn the URL used to return an `image/png` content type. In the future we should host any images on Github to prevent their content changing. Thanks for taking a look.

@yoesuv If you're able to reproduce this with another image please reopen this issue or create another one.

[2020-01-06 19:59] #157 closed

[2020-01-06 20:06] mario commented on #157
@colinrtwhite the hypothesis that it was indeed the same issue in the past is furthered by the fact that the issue for the same image disappeared for the initial poster after he moved to another hosting.

But who knows ... we might never find out :)

[2020-01-06 20:16] colinrtwhite commented on #223
The behaviour change in `0.9.0` was likely due to https://github.com/coil-kt/coil/commit/6c2adb2a0f8fffed2475831cd66debbe616338ce. Looking into if it's possible to keep the desired behaviour for both crossfading into `PhotoView` and also crossfading with drawables with no intrinsic size.

[2020-01-06 22:33] mario commented on #224
@colinrtwhite so can we close this?

[2020-01-06 22:34] mario commented on #37
@colinrtwhite do you want this functionality?

[2020-01-06 22:50] cioccarellia opened #230 "Image not displayed when loading into CircleImageView"
**Describe the bug**
After updating coil to version 0.9.1, icons downloaded from network are not loading anymore.

**Expected behavior**
Icons should be loading normally, instead, just a transparent element is left (icons targets are not `ImageViews` but `CircularImageView`s instead ([here the library](https://github.com/hdodenhof/CircleImageView)), inside a `RecyclerView`

**To Reproduce**
Try lo

[2020-01-07 04:25] colinrtwhite commented on #230
Thanks for the report. Sounds related to this issue: https://github.com/coil-kt/coil/issues/223. Taking a look

[2020-01-07 04:26] colinrtwhite commented on #224
Yep, let's close.

[2020-01-07 04:26] #224 closed

[2020-01-07 04:43] colinrtwhite commented on #37
I'd like to add this eventually as part of supporting chaining requests (similar to this issue https://github.com/coil-kt/coil/issues/27). I haven't settled on an API yet, though.

[2020-01-07 10:03] MaggiWuerze commented on #226
I did and my problem is, that i would have to download the image again, since i can't read EXIF Data from a `Drawable` or `Bitmaps` created from one. That seems wasteful when the library already reads that data during processing but only keeps the orientation data.
Would be nice if i could grab that data via the `Imageloader` or something like that.

[2020-01-07 14:32] Pitel commented on #188
Sorry, my bad, still broken in 0.9.1 and 0.10.0-SNAPSHOT. :(

[2020-01-07 18:47] DeepPSingh opened #231 "Can we encrypt and decrypt a disk cached image using Coil library?"
I have just started using Coil and I love it. I have a requirement in my project to encrypt and decrypt a disk cached image for security reasons. I have been trying to find out a solution for the same online without any luck.

Can you please let me know if coil supports it or provide a sample how to do it?

This is an important feature we need to implement else I have to move to Glide.

Thanks in

[2020-01-08 06:01] colinrtwhite commented on #231
I don't think this is possible, unfortunately. Coil relies on OkHttp's disk cache, which [doesn't look like it can be encrypted easily](https://stackoverflow.com/questions/22373763/encrypting-okhttps-httpresponsecache).

[2020-01-08 06:03] #231 closed

[2020-01-08 06:05] #225 closed

[2020-01-08 06:49] #178 closed

[2020-01-08 14:59] GarikKhachaturyan opened #234 "Image loading on main thread"
**Is your feature request related to a problem? Please describe.**
We have application with a canvas on which we are drawing different shapes and images. We are trying to load images from a file in custom view onDraw method, but the coil does not allow to call _get_ method on the main thread.

**Describe the solution you'd like**
To be allowed to call the _get_ method in the main thread.

[2020-01-08 15:17] alanleedev commented on #224
Sorry for the late reply.
I've also realized there were similar request and discussions in the past.
`fallback` seems to be what I've been looking for so okay to close.

[2020-01-08 19:00] colinrtwhite commented on #234
`onDraw` is going to be called many times and needs to be fast so you should avoid any long running operations (like a `get`) inside of it. I'd recommend you load the image outside of the drawable (a `ViewModel` is a good place for this operation) and pass it to the drawable's constructor.

That said, technically it is possible to make `get` a blocking call on the main thread by wrapping it in `ru

[2020-01-08 19:00] #234 closed

[2020-01-08 21:56] DeepPSingh commented on #231
Thanks for the quick response.

[2020-01-08 22:04] DeepPSingh opened #235 "Can we force cache image on disk when server response has Pragma: no-cache using Coil library?"
I don't have control on server apis where images are stored. By default all the server response header have **Pragma: no-cache** which is blocking Coil library to cache the image on disk.

I have tried adding ResponseHeaderInterceptor("Cache-Control", "max-age=31536000,public") to the request but it doesn't work.

Can you please help me by letting me know if Coil can do force disk cache in this ca

[2020-01-08 22:07] colinrtwhite commented on #235
You can remove the `Pragma` header with another `Interceptor`:

[code]

[2020-01-08 22:07] #235 closed

[2020-01-09 09:49] GarikKhachaturyan commented on #234
Yes, that would be the ideal solution. However we cannot change that part of the architecture at this moment and a quick workaround would be nice.

We tried this solution already and if it should work as you said. Here is [a sample project](https://github.com/GarikKhachaturyan/CoilRunblockingTest) with a runBlocking in the onDraw method. It actually does not work and freezes inside the _get_ metho

[2020-01-09 12:24] consp1racy opened #236 "Replace imported SDK_INT constants with actual numbers"
Some of my favorite candidates for fix are in `RealBitmapPool`:

    if (SDK_INT >= O) {
        configs += Bitmap.Config.RGBA_F16
    }

    require(SDK_INT < O || config != Bitmap.Config.HARDWARE) { "Cannot create a mutable hardware Bitmap." }

Using actual API level values will promote readability, i.e. nobody will have to ponder for minutes why the hell do we check whether SDK_INT is less than

[2020-01-09 19:24] colinrtwhite commented on #234
@GarikKhachaturyan Try:

[code]

A better solution would be to load the image async and make `onDraw` draw nothing until the image is loaded. Blocking the UI like this is a bad idea!

[2020-01-10 11:18] GarikKhachaturyan commented on #234
Thanks a lot, it worked, this is what I needed. Also thanks for a quick reply.
I know that it's too bad to do so, I'll change it in the future.

[2020-01-11 16:34] sheckspir commented on #188
reproduced this bug on version 0.9.1.
I also tried the version from branch #232 . It was fixed

[2020-01-12 01:39] #188 closed

[2020-01-12 01:41] colinrtwhite commented on #188
@sheckspir Thanks for checking. The fix is now in master and will be released soon as part of `0.9.2`.

[2020-01-13 19:48] colinrtwhite commented on #226
Coil relies on `OkHttp` for its disk cache. Unfortunately, the cache isn't set up for easy access, however you could probably access its files using [`Cache.urls()`](https://square.github.io/okhttp/4.x/okhttp/okhttp3/-cache/urls/) and [`Cache.key()`](https://square.github.io/okhttp/4.x/okhttp/okhttp3/-cache/key/). That'll let you iterate over its files then you can read its EXIF data using `ExifIn

[2020-01-13 19:48] #226 closed

[2020-01-13 19:51] DeepPSingh commented on #235
Thanks it worked.

[2020-01-13 19:51] colinrtwhite commented on #100
@DeepPSingh Coil relies on OkHttp for its disk cache. Unfortunately, the cache isn't set up for easy access, however you could probably access its files using [`Cache.urls()`](https://square.github.io/okhttp/4.x/okhttp/okhttp3/-cache/urls/) and [`Cache.key()`](https://square.github.io/okhttp/4.x/okhttp/okhttp3/-cache/key/). That'll let you iterate over the current files in the disk cache. You can

[2020-01-13 20:46] mario commented on #236
@colinrtwhite taking this over.

[2020-01-13 21:02] colinrtwhite commented on #236
@mario Thanks, but I'd hold off for the moment (still debating if we should make this change). I generally agree that using numbers is more consistent, however `Build.VERSION_CODES` seems like the standard.

[2020-01-13 21:05] mario commented on #236
@colinrtwhite sounds good.

[2020-01-13 21:13] mario commented on #230
After testing this, let me just clarify that the images do actually load if you scroll down and back up. However there are indeed issues with the crossfading.

[code]

Hope this helps @colinrtwhite

[2020-01-14 03:21] orwir opened #241 "crossfade() breaks RequestDisposable.await()"
**Describe the bug**
crossfade() breaks the RequestDisposable.await() method then scroll up in the RecyclerView. Image is loaded properly but await() has never return control back.
* Scroll down works as expected.
* Scroll up without `crossfade()` works as expected.

**To Reproduce**
1. create method like this to load images into views and hide progress when `true` is collected.
[code]
2. Scroll d

[2020-01-14 03:56] colinrtwhite commented on #241
Thanks for the report. The issue is `CrossfadeTransition` is suspending indefinitely for a memory cache event. This was just fixed by https://github.com/coil-kt/coil/pull/240 and will be released as part of `0.9.2` very soon. In the meantime you can depend on [the latest snapshot](https://coil-kt.github.io/coil/faq/) to get the fix immediately.

[2020-01-14 11:35] developerConjoinix opened #243 "SSL Certificate handshake exception"
Image not loading when trying to load from https:://.
Where the certificate is working.

[2020-01-14 12:53] orwir commented on #241
Thanks a lot for your answer. I've just removed crossfade for now. Will wait a new release.

[2020-01-14 12:53] #241 closed

[2020-01-14 14:14] Jawnnypoo commented on #243
Can you give more information, such as the error you are seeing and possibly what URL you are trying to load? You can always provide your own `OkHttpClient` instance if you know your needed configuration via the `ImageLoaderBuilder`
[code]
You can find the `forceTls12()` method in the sample app, if that is indeed the problem you are facing, but this gives you an idea of what you might need to do

[2020-01-15 09:10] mario commented on #243
This is pretty much an issue with the configuration of OKHttp and the way you handle SSL exceptions - if such a case arises, depending on your use case, you should present the certificate to the end user and ask them to accept it.

Not an issue with Coil per-se., like @Jawnnypoo said.

[2020-01-15 10:44] mikepenz commented on #223
Also had to disable crossfading for now as it seems to break in various situations as noted in this issue, and the linked one.

Especially when using in the `PhotoView`, and in cases where we would adjust the bounds based on the image which get loaded.

[2020-01-15 17:14] davidpladev opened #244 "Svg loading"
Please add support form SVG loading...

[2020-01-15 19:12] colinrtwhite commented on #244
[Coil already has support for SVGs](https://coil-kt.github.io/coil/svgs/).

[2020-01-15 19:12] #244 closed

[2020-01-15 19:17] colinrtwhite commented on #243
As mentioned this is likely a certificate or TLS issue related to OkHttp - not Coil.

[2020-01-15 19:17] #243 closed

[2020-01-15 20:25] DeepPSingh opened #245 "Can a rooted device access cached images using Coil?"
I am working on an app which needs to make sure that cached images are not accessible to anyone. I am using Coil to cache images on the disk.

Can someone who has a rooted device access cached images using Coil? This can be a security issue for us and if you have already done some testing on this area can you please let me know your findings?

Thanks in advance.

[2020-01-15 20:28] colinrtwhite commented on #245
I believe a rooted user will be able to access any folder on the device including the cache folder. This will be true of all image loaders.

[2020-01-15 20:28] #245 closed

[2020-01-15 20:37] DeepPSingh commented on #245
Thanks for the quick response. Is there a way we can restrict the user accessing it or encrypting and decrypting while saving and retrieving the cached file?

[2020-01-15 20:42] colinrtwhite commented on #245
[I don't think it's possible, unfortunately](https://github.com/coil-kt/coil/issues/231).

[2020-01-15 20:45] colinrtwhite commented on #245
There's a feature request for encryption [here](https://github.com/square/okhttp/issues/2903#issuecomment-268608758).

[2020-01-15 20:49] DeepPSingh commented on #245
Ok thanks.

[2020-01-16 18:39] davidpladev opened #246 "Svg image not fill imageview sizes"
I have an imageview with fixed with and height. When the image is displayed, it doesn't fill the imageview, so blank padding is showing. The doc said that the library autodetect the imageview scale type but these doesn't work.

<ImageView
            android:id="@+id/image"
            android:layout_width="80dp"
            android:background="@color/bg_app"
            android:layout_height="80d

[2020-01-16 19:51] colinrtwhite commented on #246
Thanks for the report. Can you attach the SVG that reproduces the issue?

[2020-01-16 20:37] davidpladev commented on #246
  | <svg width="142" height="40" xmlns="http://www.w3.org/2000/svg"><g fill="#FFFFFE" fill-rule="evenodd"><path d="M10.65 30.31C5.05 30.31 0 26.741 0 18.952 0 11.16 5.05 7.596 10.65 7.596c5.597 0 10.64 3.564 10.64 11.357 0 7.789-5.043 11.356-10.64 11.356m0-17.927c-4.235 0-5.006 3.814-5.006 6.57 0 2.753.77 6.572 5.007 6.572 4.229 0 5.004-3.819 5.004-6.571 0-2.757-.775-6.571-5.004-6.571M25.175 8.164

[2020-01-16 20:39] davidpladev commented on #246
https://testing-chatweb.biduzz.com/images/orange/logo-chats-app.svg

[2020-01-16 20:44] colinrtwhite commented on #246
@davidpladev That SVG doesn't render correctly in Chrome. Are you sure it's correct?

[2020-01-16 21:00] wooldridgetm opened #247 "Coil fails to load local image."
First, let me just say that this library is flippin' awesome & the "question" I'm asking is prolly BIAD (b/c I'm a dummy).

**Problem**
 Coil fails to load local image into an ImageView.

In the following code, I have a picture in the **/sdcard/Android/data**.  I load it in via **imageView.load()**.
`val filePath = "/storage/emulated/0/Android/data/PACKAGE_ID/files/Pictures/PIC_2020-01-16_15:39:35

[2020-01-16 21:09] colinrtwhite commented on #247
Thanks! To fix your issue you need to append `file://` to the beginning:

[code]

Unlike Glide, Coil doesn't autodetect file paths. This is mostly a design choice as `load(String)` is meant for [uris](https://developer.android.com/reference/android/net/Uri), which should always have a prefix.

Also you can listen to the result of a request by looking at the logs (and enabling them for debug builds

[2020-01-16 21:09] #247 closed

[2020-01-16 21:09] davisoqt commented on #246
Yes, Glidetovectoryou render ok that svg

[2020-01-16 21:10] davisoqt commented on #246
What did you see wrong in the svg code?

[2020-01-16 22:10] colinrtwhite commented on #246
Ah I see it has a `#FFFFFE` fill. Changing it to `#000000` shows the SVG. Taking a look.

[2020-01-16 23:30] colinrtwhite commented on #246
Looks like this is caused by the SVG not setting a `viewBox`. Adding `viewBox="0 0 142 40"` to the `svg` tag fixes the issue. I'm also adding a fix to `0.9.2` that will set a default `viewBox` if the SVG doesn't specify one.

[2020-01-16 23:45] davisoqt commented on #246
When the 0.9.2 will be available? Can you sendme the patch code to solve the issue? The app has more than 100 svg files and add a viewbox to each its not a option.😣

[2020-01-17 00:16] colinrtwhite commented on #246
You'll be able to access a [snapshot](https://coil-kt.github.io/coil/faq/#how-do-i-get-development-snapshots) build containing the fix once it deploys in a couple minutes. `0.9.2` will likely be available in a couple days.

[2020-01-17 00:16] #246 closed

[2020-01-17 01:07] davisoqt commented on #246
So I need use the 0.10.0 snapshot version?

[2020-01-17 01:53] colinrtwhite commented on #246
Yes

[2020-01-17 09:38] vrsrohit opened #249 "How to use start error callbacks in coil ?"
**Describe the bug**
A clear and concise description of what the bug is.
I want to download a bitmap using coil and want to show loading indicator until it downloads so i want on error on succses callbacks in custom target to handle my ui.

**Expected behavior**
A clear and concise description of what you expected to happen.
In Picasso onSuccsess and on Error callbacks are there I am expecting lik

[2020-01-17 13:04] dominikgold opened #250 "Exif rotation not applied for locally saved images/images taken with camera on some devices"
Hi, first off, thanks for the great work on this library.

We're facing one issue when using Coil for loading images with Exif rotation which are saved on the device, using the `load(Uri)` function. The Exif rotation is not applied at all. This was reproducible on 2 of our test devices, an LG G3 and an LG G2 Mini, both API 21. I'm assuming it's the same on other devices with API 21, though I don't

[2020-01-17 18:38] wooldridgetm commented on #247
That worked. Thanks for your help & for the awesome, kotlin-friendly library!

[2020-01-17 19:30] colinrtwhite commented on #249
You need to create a [Target[(https://coil-kt.github.io/coil/targets/).

[2020-01-17 19:30] #249 closed

[2020-01-17 20:23] colinrtwhite commented on #250
Thanks for the report. Can you upload the image file taken by the camera? If `ExifInterface.getRotationDegrees()` is returning 0 I'm afraid the image might not have its EXIF orientation set (some devices do this) in which case it's not possible to fix this.

[2020-01-18 14:02] RubenGonzalezGonzalez opened #251 "Performance issue scrolling a recycler with non existing urls."
**Describe the bug**
When you try to render a recycler with a lot of images and some of them don't exist, the performance of the view is seriously affected.

**Expected behavior**
The performance of the view shouldn't be affected. As an example, the performance for this scenario with Glide works right.

**To Reproduce**
Create a list of urls pointing to a non existing link, create an adapter for a

[2020-01-19 00:50] colinrtwhite commented on #251
What do you mean by performance? It is an issue with draw time, cpu usage, memory usage, or something else? I did a quick test with loading an invalid URL in the sample app and didn't notice any performance issues. If you're able to create a sample project that reproduces the issue that would help debug the issue.

[2020-01-19 01:11] RubenGonzalezGonzalez commented on #251
Ok. I cannot do it until Monday probably.

Anyway, You can create a recyclerview with 30 or 40 items with different non existing url. If you make scroll, the movement is not fluid.

In my example I'm using databinding with this code to load images:

[code]

[2020-01-19 02:24] colinrtwhite commented on #251
Not sure if it helps, but you can collapse that into:

[code]

Coil will autodetect the view's lifecycle.

[2020-01-19 22:14] colinrtwhite commented on #178
@mario I'm still able to reproduce this in `a0872f9` (and on master). It looks like `View.isHardwareAccelerated` returns true.

[2020-01-20 00:35] colinrtwhite commented on #223
Confirmed that this is due `CrossfadeDrawable` returning -1 for its intrinsic dimensions if either its start or end drawable also returns -1. Unfortunately, I'm not sure that changing back to the old behaviour (where *both* drawables must have intrinsic dimensions of -1 for `CrossfadeDrawable` to return -1), as it causes the drawable with -1 intrinsic size to not fill an `ImageView`:

OLD (left) -

[2020-01-20 05:52] vrsrohit commented on #249
ya tried it but was not able to get onSuccess and onError overridden methods
Can you please point me towards a Example code.

[2020-01-20 06:38] vrsrohit commented on #249
I meant like if I can get on error and onSuccess I need to show a toast, so I need them as callbacks.

[2020-01-20 08:50] mario commented on #178
@colinrtwhite I'll take a look (probably tomorrow) - I tested this quite a few times.

[2020-01-20 08:52] colinrtwhite commented on #249
@vrsrohit If you're loading into an `ImageView` you could do something like this:

[code]

[2020-01-20 08:54] colinrtwhite commented on #178
Thanks! No rush.

[2020-01-20 08:58] vrsrohit commented on #249
Actually I am downloading the image into bitmap for further usage . What can I do in this case

[2020-01-20 09:07] colinrtwhite commented on #249
This will handle that case:

[code]

[2020-01-20 09:42] vrsrohit commented on #249
yaa, It's working thanx man.
Great work with the library !!

[2020-01-20 09:54] dominikgold commented on #250
Hey, thanks for the quick reply,  I'll gladly attach an example image.
I've also extended the example project with our custom implementation for loading bitmaps, which we would like to get rid of in favor of Coil. That one loads the image just fine. Here's the relevant class:

[https://github.com/dominikgold/CoilExifRotationTest/blob/master/app/src/main/java/com/golddev/myapplication/BitmapLoader.

[2020-01-20 10:04] mario commented on #178
@colinrtwhite there's a PR now which should fix this.

[2020-01-20 10:16] mario commented on #250
@colinrtwhite I'll take a look at this one tomorrow.

[2020-01-20 17:37] bmc08gt commented on #247
Hit this as well; file prefix works. :)

[2020-01-27 09:12] kuuuurt opened #260 "Disk/Memory cache not working well on 0.9.2"
**Describe the bug**
The disk/memory cache doesn't work well in 0.9.2.

I have a Page 1 that loads a picture from the network with
[code]
and a Page 2 loads the same image from the cache but when I move to page 2, it reloads the same image with the same URL.

This was previously working on 0.7.0.

**Expected behavior**
It should load the images from the cache

**To Reproduce**
See Description

**V

[2020-01-27 10:21] colinrtwhite commented on #260
[code]

will only write to the cache, but not read from it. It's intended behaviour that it would re-load the image from the network in a subsequent load. To have it read from the memory cache use `CachePolicy.ENABLED`.

[2020-01-27 10:32] kuuuurt commented on #260
Hello @colinrtwhite!

I forgot to mention, the `WRITE_ONLY` code is only used on Page 1. Page 2 loads with everything `ENABLED`

[2020-01-27 10:50] kuuuurt commented on #260
Also the same exact code, works on 0.7.0

[2020-01-27 13:52] mario commented on #250
So I looked into this particular issue and the issue regarding rotations in general. @colinrtwhite is, of course, right that EXIF is just a supporting tool to get the rotation. In general, I wouldn't rely on it much since, like you've found, it can be missing. There are alternative ways to handle this, especially in cases like yours when you're doing a camera snapshot:

https://medium.com/@kenodog

[2020-01-27 13:57] mario commented on #251
So I've tested this by altering the sample app:

`            load("http://123.com") {
                placeholder(ColorDrawable(item.color))
            }
`

and I failed to see any performance issues :-/

[2020-01-27 17:18] RubenGonzalezGonzalez commented on #251
I have re-created the same scenario and now I cannot reproduce this error... I don't know if I have changed anything else, but now the scroll is working fine. I can only apologize for the inconvenience and congratulate you for your library.

You can close this ticket.

[2020-01-27 18:25] colinrtwhite commented on #260
Ah gotcha. I did a quick test with the sample app and couldn't reproduce. Do you have a sample app I could use to reproduce?

[2020-01-27 18:30] colinrtwhite commented on #251
@RubenGonzalezGonzalez No worries!

[2020-01-27 18:30] #251 closed

[2020-01-27 18:31] kuuuurt commented on #260
Alright, I'll try to create a simple reproducer tomorrow.

For more context, I just have a Dashboard page and a Profile page. Now, the Profile page always loads it from the network for updates and uses `WRITE_ONLY` while Dashboard uses the default which is `ENABLED`. It works on the first load BUT the profile page has an update profile picture feature which uploads a new photo to the same URL. Whe

[2020-01-27 18:33] kuuuurt commented on #260
Yep. Confirmed. If I use a different URL, it works and loads it correctly but if it's the same, it loads the first one in the cache.

The reason for having the same url for the picture is so that we won't have previous photos taking up space on the server and just save the latest one.

[2020-01-28 09:04] dominikgold commented on #250
Hey @mario, thank you for looking into this. Maybe for some clarification, the image definitely has an Exif rotation set, and it's also readable, when using the ExifInterface(String) constructor. Our current suspicion is that the Exif rotation gets lost/can't be read anymore after converting the file to an okio BufferedSource. However, it it is hard to reproduce, since it seems to happen only on a

[2020-01-28 16:35] tylerwilson opened #261 "Access to Drawable after load into ImageView"
Good day,

I have a case where I want to load a URL into an ImageView, apply a Transformation and also get the resultant Drawable/Bitmap saved to memory for use later. I tried something like this:

[code]

But the RoundedCorners is not being applied. Plus I need the explicit setDrawable. So basically it appears that having a target block overrides some of the behavior.

What I would love is someth

[2020-01-28 20:20] colinrtwhite commented on #261
I'd avoid setting a new target inside the `ImageView.load` function since it overrides the target set by that function. If you need access I'd do something like this:

[code]

Also, it's likely `RoundedCornersTransformation` is being applied, but `8f` is a very low value (it's in px).

[2020-01-28 20:20] #261 closed

[2020-01-31 10:03] FrostRocket opened #265 "Loading SVGs into different sized ImageViews results in incorrect content resizing"
I'm having issues with loading SVGs into different sized ImageViews.

**Scenario:**

1. MainActivity loads a list of images from API into a ViewHolder. These images are SVGs, and are loaded into a 32x32dp ImageView via standard ImageView.load() extension.

2. DetailActivity (which is launched when you click on an item) has a larger ImageView (128x128dp) that loads the exact same URL via ImageView.

[2020-01-31 10:04] FrostRocket commented on #265
Side note: this has been a lingering issue for me since Coil launched with SVG support, was waiting to see if it'd be resolved with the initial wave of bugfixes but it hasn't. :(

[2020-01-31 14:54] dafi opened #266 "How to migrate picasso Downloader to coil?"
I'm a bit confused about fetcher, mappers and loadRequest...
I have a picasso downloader reading using oAuth Scribe library a protected image and I want to rewrite it with coil but I need at least an hint to start the conversion

The image is loaded inside the `ImageView` using the following code

[code]
The picasso downloader code is shown below

[code]

[2020-01-31 17:19] Jawnnypoo commented on #266
https://coil-kt.github.io/coil/getting_started/#imageloaders

Specifically, something like this:
[code]

[2020-02-01 06:51] dafi commented on #266
Thank you very much, everything woks fine now, the missing key is the `addInterceptor`

My ImageLoader can't replace the default one so now I will study the best way to "add" it side by side with the default one as a singleton but this is another story :)

[2020-02-02 05:51] Jawnnypoo commented on #266
Best of luck!

[2020-02-02 05:51] #266 closed

[2020-02-02 10:52] zhanghai opened #269 "ImageDecoderDecoder stretches image, not respecting aspect ratio"
**Describe the bug**

I have a WEBP image of size 500x2898, and I'm loading it into an `ImageView` of size 1080x1680. However, the returned bitmap itself is stretched to fit the view size.

(I do have `android:scaleType="centerCrop"` on the `ImageView` but it doesn't matter because I inspected via debugger that the bitmap passed into `ImageView.setImageDrawable()` is already stretched.)

I did som

[2020-02-02 11:21] zhanghai commented on #269
#270 is my proposed fix for this issue.

[2020-02-02 21:58] #269 closed

[2020-02-04 05:15] chrisbanes opened #278 "[FR] Expand return type on imperative APIs"
Currently all of the imperative APIs return a `Drawable`, which is great for drawing but it would be handy to know more information about the load itself. Things like: where did the image come from? (cache? network?)

I imagine something like the transition API:

[code]

This would be super useful for when Coil is being used in outside of View [environments](https://github.com/chrisbanes/tivi/blob

[2020-02-04 22:41] colinrtwhite commented on #278
Oooh Coil in Compose 🤩.

[Definitely in my radar to support Compose](https://tech.instacart.com/exploring-images-in-jetpack-compose-c8ba87089c92). Have mostly been waiting for Coroutines to work with the new compiler and also to see how they plan to support animated images. This will probably change, but my current plan is to have a `coil-compose` extension module with two main functions:

- `fun

[2020-02-04 23:16] chrisbanes commented on #278
Just a quick catch up: `effect`s are no longer, you just use normal `@Composable` functions.

I was actually going to tackle target size next. I'll see if I can get pooling in there too. I'm happy to contribute this to Coil eventually, or just leave it in Tivi as a proof of concept.

Sure, totally agree. Are you opposed to adding an 'advanced' overload supports more information?

[2020-02-05 01:51] colinrtwhite commented on #278
Ah TIL, I guess we only need `LoadImage`.

:+1: If you want to contribute the `coil-compose` module that'd be awesome! Here's what I was thinking for the integration, but feel free to deviate:

- For target sizing, I think you might be able to create a custom [`SizeResolver`](https://coil-kt.github.io/coil/api/coil-base/coil.size/-size-resolver/) and suspend until the first pass of `@Composable Dr

[2020-02-05 02:58] chrisbanes commented on #278
It's probably simpler than that. See [here](https://github.com/chrisbanes/tivi/commit/98d9b515c956655bf1efd28625ebea2ca243277a) for a quick impl.

Basically replicating what you did for `Transition` but for things which don't use `Drawable`s

[2020-02-05 10:56] dafi opened #280 "Images inside recyclerview flash when notifyDataSetChanged() is called"
I'm migrating my code from Picasso to Coil and discovered a strange behaviour non present with Picasso.

A recycler view contains images but when I call `notifyDataSetChanged()` on the adapter some images flash as shown in attached GIF

I created a project useful to reproduce the bug, [CoilFlashing](https://github.com/dafi/coil_flashing)

**Version**
Coil 0.9.4
Android 9 and 10 under Android emula

[2020-02-05 15:18] prsolucoes opened #281 "Image is showed stretch when apply rounded corner transformations"
**Describe the bug**
When apply "RoundedCornersTransformation" it need work for rectangle and square images.

My image is 400x400.

**Expected behavior**
Expect is the image showed with rounded corners

**To Reproduce**

FAIL:

[code]

WORK:

[code]

**Logs/Screenshots**

Image is showed stretch instead of square.

Applying transformation:
![image](https://user-images.githubusercontent.com/395096/

[2020-02-05 15:36] prsolucoes opened #282 "Image don't fill/respect image component"
**Describe the bug**
The image is loaded but it appear crop the image, very strange. It only happen when i try apply rounded corners transformations:

**Expected behavior**
Image need be showed without the strange behaviours.

**To Reproduce**

[code]

**Logs/Screenshots**

PROBLEM:
![image](https://user-images.githubusercontent.com/395096/73856324-0776e680-4814-11ea-9fb7-738506368a31.png)

WITHOU

[2020-02-05 19:15] colinrtwhite commented on #282
Thanks for the report, but this intended behaviour with `RoundedCornersTransformation`. It will fill the image in the target's dimensions then round the corners.

[2020-02-05 19:15] #282 closed

[2020-02-05 19:18] colinrtwhite commented on #281
I'm not sure I understand what the issue is. It looks like those are two different images in the screenshots. `RoundedCornersTransformation` shouldn't affect the aspect ratio of the output image.

[2020-02-05 20:24] colinrtwhite commented on #280
Thanks for the report + sample project. I just added a fix here: https://github.com/coil-kt/coil/pull/283.

[2020-02-05 20:27] colinrtwhite commented on #100
Closing this since I don't think this is likely to be added for 1.0 as it would require reworking `Target`s.

[2020-02-05 23:39] colinrtwhite commented on #260
@kuuuurt Are you still able to reproduce the issue on the latest version? Also have you had a chance to create a repro project?

[2020-02-06 00:31] tschellenbach opened #284 "Coil.load method doesn't exist"
**Describe the bug**

The documentation describes the Coil.load method. This method doesn't exist when you import coil:

[code]

The documentation should either clarify the correct import or show the right method to load.
This happens on Coil 0.9.4

[2020-02-06 00:55] colinrtwhite commented on #284
If you import `io.coil-kt:coil:0.9.4` it should be there. It's implemented as an [extension function](https://github.com/coil-kt/coil/blob/master/coil-default/src/main/java/coil/api/Coils.kt#L31).

[2020-02-06 00:55] #284 closed

[2020-02-06 03:35] prsolucoes commented on #281
Hi,

Is the same of:
https://github.com/coil-kt/coil/issues/282

When apply RoundedCornersTransformation with any value, it crop or stretch the image or something like this, like in the screenshot.

Both images are 400x400 and work without transformations, but when apply RoundedCornersTransformation it appear with strange appearance.

The image view is 50x50 with fitCenter (yes, i tried others) an

[2020-02-06 16:27] tschellenbach commented on #284
What could cause the extension function not to register? I am importing io.coil-kt:coil:0.9.4

[2020-02-06 23:33] colinrtwhite commented on #281
@prsolucoes I tried reproducing this with the sample app, but the aspect ratio of the image is maintained. If you have a code sample that reproduces the issue feel free to reopen.

[2020-02-06 23:33] #281 closed

[2020-02-07 04:07] asarazan commented on #157
Hey sorry to dig this up, but can you provide guidance on how to go about catching these exceptions? It's pretty far out in the callstack, so I guess just set an exception handler for Dispatchers.IO or something?

Thanks!

[2020-02-07 04:30] colinrtwhite commented on #157
@asarazan This shouldn't crash your app if it occurs as part of a `load` call. It's likely causing a crash if you launch a `get` call inside of your `CoroutineScope` and don't set a `CoroutineExceptionHandler`. Surrounding the call in a `try/catch` solves this: https://github.com/Kotlin/kotlinx.coroutines/blob/master/docs/exception-handling.md#exceptions-aggregation

[2020-02-07 05:19] kuuuurt commented on #260
Hello @colinrtwhite!

Sorry. I wasn't able to create a reproducer since we need a backend for it.

Here's the steps I'm taking instead:

1. Load an image with a url without the cache:
[code]

2. Load on another page using the cache
[code]

This works.

3. Update the picture on server-side

4. Try to load the same image without the cache:
[code]

5. Load on another page using the cache
[code]

This

[2020-02-07 05:24] asarazan commented on #157
Ah that was it. I forgot about a raw `get` call that I had added in a recent refactor. Thanks!

[2020-02-07 05:39] #25 closed

[2020-02-07 06:00] colinrtwhite commented on #25
This is now supported in the [latest snapshot](https://coil-kt.github.io/coil/faq/#how-do-i-get-development-snapshots).

[2020-02-07 07:35] colinrtwhite commented on #278
Oh neat I didn't know about `OnChildPositioned`.

Ah I see what you mean. My preference would be to integrate Coil's Transition with the Compose Transition class if that's possible. However, that doesn't look likely at the moment... Going to play around with Compose more to improve my understanding.

[2020-02-08 09:42] dafi opened #285 "Images contain segment lines"
**Describe the bug**
While loading and before the refresh is completed randomly the images contain segment lines.
At some time when the loading is completed the image is shown correctly.

I'm sorry but I can't be more precise, the code is really really simple, tell me how I can help you.
Consider creating a full proof-of-concept project isn't very useful because the bug occurs everytime

[code]

T

[2020-02-08 10:33] colinrtwhite commented on #285
Do you have an asset I could use to reproduce this? Also what device + API level does this occur on?

[2020-02-08 10:39] dafi commented on #285
All devices and emulators used run under API level 29
I'm tried on an old Nexus 7 (rooted with Android Pie) and here the issue is always present
On Xiaomi Mi A1 the issue is very rare but I think because its run faster and the lines disappear very quicky

No asset, I hope to have time to create a project

[2020-02-08 10:49] dafi commented on #285
After some test I noticed only version 0.9.5 seems affected, with v0.9.4 no problem

[2020-02-08 19:02] colinrtwhite commented on #285
@dafi If you set `allowHardware(false)` does that fix it? Sounds like it could be an issue with hardware bitmaps.

[2020-02-09 06:32] dafi commented on #285
you are right! If I set `allowHardware(false)` the glitch disappears
I'm migrating from Picasso where similar problems are not present, how need to to something in my code to disable the settings or Coil can "detect" itself (I suppose like Picasso does)?

[2020-02-09 08:07] colinrtwhite commented on #285
Coil will automatically disable hardware bitmaps in a number of cases (e.g. there are transformations or `View.isHardwareAccelerated` returns false). In this case  it sounds like an asset/device/api specific issue. Picasso doesn't perform a number of optimizations that Coil does so it could be related to those.

It's tough to say exactly without being able to reproduce the issue. Feel free to reop

[2020-02-09 08:07] #285 closed

[2020-02-12 06:31] takke opened #289 "GIF-image with CircleCropTransformation not displayed on older devices"
**Describe the bug**
When displaying GIF images using CircleCropTransformation on Nexus 5 with Android 6.0, IllegalStateException happen.

**Expected behavior**
Displayed cropped image.

**To Reproduce**
[code]

[code]

exception:
[code]

See sample project: https://github.com/takke/CoilGifCircleCropErrorSample

When I set layout_width/layout_height, it displayed properly.

[code]

**Logs/Screensh

[2020-02-12 06:47] takke commented on #289
After setting the `size` parameter, it was displayed properly. so this issue is not so serious for me.

Thanks.

[2020-02-12 19:52] NLLAPPS opened #290 "BlurTransformation Does not check render script maximum radius (25f)"
BlurTransformation allows changing radius and it should check for maximum possible 25f radius to prevent crash

It should (probably) also limit for sampling rates below 1f to some hard coded minimum as you can easily create out of memory crashes

[2020-02-13 01:09] colinrtwhite commented on #290
Thanks for the report. I've added a max radius [here](https://github.com/coil-kt/coil/pull/291). I agree it's possible to choose a very small sampling rate and run out of memory, however I'm not sure there's a good minimum since `0.1`, for instance, could be fine for a small input bitmap, but too small for a large bitmap. It also depends on the device and the amount of RAM it has.

[2020-02-13 01:09] #290 closed

[2020-02-13 01:35] colinrtwhite commented on #289
Thanks for the report + sample project. I've added a fix in master which can be accessed via [snapshot](https://coil-kt.github.io/coil/faq/#how-do-i-get-development-snapshots).

[2020-02-13 04:51] #289 closed

[2020-02-17 08:21] nicemak opened #296 "How to load updated image from same url if internet and load cache image if no internet?"
Hi,

I am trying to get updated image for user profile picture, the image is updated on the server but have the same name as previous one i.e. www.myserver.com/user-123-profile.jpg, if you updated the image of user 123, url will remain the same. now when i am loading the image, coil always load the last image it loaded.

`user_profile_img.load(response[position].user_image){
                memory

[2020-02-18 20:38] colinrtwhite commented on #296
If you have control of the server's response, your best bet would be to have it set the header `Cache-Control: must-revalidate`. That will force Coil to check that the image is up to date and will save bandwidth if it is. You may be able to use an [`Interceptor`](https://square.github.io/okhttp/interceptors/) this instead, though I'm not sure.

If you can't modify the server, you can do:

[code]

[2020-02-18 20:38] #296 closed

[2020-02-22 07:38] nicemak commented on #296
`user_profile_img.load(response[position].user_image) {
    memoryCachePolicy(CachePolicy.DISABLED)
    diskCachePolicy(CachePolicy.WRITE_ONLY)
}`

it does not help, i implemented this in recyclerview adapter, by scrolling the list i load some images, then disconnect mobile from internet scroll the list but image disappeared.

[2020-02-22 08:05] colinrtwhite commented on #296
Ah you're right. Setting `diskCachePolicy(CachePolicy.WRITE_ONLY)` prevents reading from the cache when you're offline.

You should update your server to send `Cache-Control: must-revalidate` for that image. This will cause it to requery the server and download the new image if it has been updated since the last request timestamp. You may be able to use an [`Interceptor`](https://square.github.io/

[2020-03-02 06:36] svenjacobs opened #303 "Coil singleton object"
While the global singleton object `Coil` simplifies usage, it also impairs maintainability and testability. For instance currently it is not possible to provide two differently configured Coil instances through a dependency injection framework. Even if just one instance is required, configuring Coil through a DI framework currently feels more like a "hack", since the singleton object is returned a

[2020-03-02 07:43] colinrtwhite commented on #303
This is actually already possible as documented [here](https://coil-kt.github.io/coil/image_loaders/#singleton-vs-dependency-injection). The `Coil` object is a thin wrapper that holds an `ImageLoader`. If you want to completely forgo the singleton you can depend on the `coil-base` artifact, though you'll lose access to the `ImageView` extension functions. I'm going to do some work on the docs for

[2020-03-02 07:43] #303 closed

[2020-03-02 07:54] svenjacobs commented on #303
Okay, thanks for the clarification 👍

[2020-03-02 13:38] svenjacobs opened #304 "CrossfadeDrawable with zero bounds stalls coroutine"
Loading images in a RecylerView with Coil. On initial application start the image of the first (and only) visible RecyclerView item is never loaded. I added `onSuccess` and `onError` listeners but both are never called. Coil logs a `Successful (DISK)` for the requested image. Once I start scrolling and further items are displayed, the first image (along with other images) are displayed. Then I sta

[2020-03-02 15:05] svenjacobs commented on #304
I also noticed that with `crossfade(true)`, performance of fast scrolling through the list is greatly reduced. Without `crossfade` scrolling through the list is fluent.

By the way, `AkamaiImage` is associated with a `MeasuredMapper`. Maybe this could be the reason for a performance impact??

[2020-03-02 19:00] colinrtwhite commented on #304
Hmm it sounds like your request gets stuck when determining the size of the target. What's `productImage`'s type? Also you probably want to use `lifecycle(fragment.viewLifecycleOwner)`. If you could you make a small sample project that reproduces the bug that would help a lot as well.

[2020-03-03 07:12] svenjacobs commented on #304
`productImage` is an `ImageView`. Regarding a sample project I'll see if I find some time. The original project is quite complex so it might be tricky to find a setup that reproduces this issue.

[2020-03-03 16:29] Tolriq opened #305 "[Questions] Coil re-entrant calls and cache without OkHTTP"
Sorry for the question title but can't find a better one.

I plan to test this library to replace Glide, but I have a relatively quite complex needs that had problems with Glide.
The app require an infinite cache of high quality large images that are used later at different sizes, those image can be loaded as the user browse or he can force some preloading.

The first question is related to what w

[2020-03-04 01:46] colinrtwhite commented on #305
Hmm I'm not sure I completely understand the first question. It's not possible to have a custom fetcher call Coil's `HttpFetcher`, as only one fetcher is called per request. Sounds like you might want a `MeasuredMapper` to await the current size of the target? You can then use the size to decide what URL to get from your server.

Yep, Coil does not cache transformed images on disk - only in memory

[2020-03-04 01:48] colinrtwhite commented on #304
Thanks. Unfortunately, without a sample project it's tough to figure out the root cause.

[2020-03-04 01:51] colinrtwhite commented on #260
I ran a quick test, but wasn't able to reproduce the issue. Going to close this out, but feel free to reopen if you can create a project that reproduces the issue.

[2020-03-04 01:51] #260 closed

[2020-03-04 06:51] Tolriq commented on #305
My application can connect to many different media server that will serve many different kind of images with resolution up to 4K and no way to have them resized at server side for some of them.

Those images are then displayed at many different size depending on screen and user configuration and the application must work offline first with complete image cache. (Like small image in a grid then ful

[2020-03-04 08:14] colinrtwhite commented on #305
Hmm if I'm understanding correctly it sounds like you might have to write something custom for this. Coil is backed by OkHttp's disk cache and using different URLs will be saved as different entries in the cache. I'd check out the `MeasuredMapper` and `Fetcher` classes and see if that fits your use case. At the least, the code you've written for Glide is likely to be translatable to Coil.

[2020-03-04 08:32] Tolriq commented on #305
Yes I need to do manual things :) But I'd like to still embrace the library, because if I can't reuse coil suspend get() function (so "waiting" call) inside the custom fetcher and can't cache the final transformation this means that I need to write an http fetcher + resizer + cache handling + transformed cache handling ;)
This is about 80% of an image library job :( So in the end I could also writ

[2020-03-04 09:00] colinrtwhite commented on #305
I wrote up some thoughts [here](https://github.com/coil-kt/coil/issues/113#issuecomment-533842984) on why I don't think caching images post-transformation is a good fit for Coil.

[2020-03-04 09:18] Tolriq commented on #305
Yes I've read that and that's why I asked here if things changed since then :'(

Many apps does not only connect to controlled servers, my app connecting to many different media center that won't allow transformation + non proper header is an example.
If the server serves 4K PNG images and we only rely on OkHTTP cache this means that the 250Mb cache will rotate fast when the user have large collec

[2020-03-04 20:04] colinrtwhite commented on #305
Coil will reuse bitmaps for the image's size in memory (not the source dimensions) which should be efficient in a list of small images.

Thinking about this more, you might be able to achieve this functionality by using an [`OkHttp Interceptor`](https://square.github.io/okhttp/interceptors/) to rewrite the network request's response body. This would allow you to resize the image in memory before i

[2020-03-04 20:04] #305 closed

[2020-03-05 07:41] svenjacobs commented on #159
According to [this](https://bumptech.github.io/glide/doc/hardwarebitmaps.html) information by Glide hardware bitmaps have a bug in Android Oreo (26) when used with shared element transitions that is fixed in Oreo 8.1.0 (27). Maybe hardware bitmaps should only be enabled by default for 27+?

[2020-03-05 13:02] svenjacobs commented on #304
I was able to reproduce this in a small [sample project](https://github.com/svenjacobs/coil-issue-304) 🎉

The root cause of this problem is that the `ImageView`'s visibility is set to `View.GONE` initially. I do this because I display a `ProgressBar` while the image is loaded. Since the image's bounds are (0,0) (0,0) initially, `draw()` of `CrossfadeDrawable` is never called. Hence the animation i

[2020-03-05 19:16] colinrtwhite commented on #304
@svenjacobs Awesome, thanks! I agree Coil should at least log this case. Maybe it would be better to skip the transition in this case? That way when you make the view visible, the drawable will show instantly.

Will also check out how Glide/Picasso handle this.

[2020-03-09 01:40] ahetawal-p opened #310 "Support ImageLoader event listener API."
I am looking into migrating my codebase from Picasso to Coil. And one of the debug friendly features which I really liked about Picasso was to support a centralized form of error listener of all failed requests.
Which was setup like this :
[code]

I am trying to find a similar equivalent for Coil, I understand I can do something like this:
[code]
But our app has many imageView and adding listeners

[2020-03-09 07:29] svenjacobs commented on #159
I also receive crashes for devices with Android 8.1. Will enable hardware bitmaps for Android 9+ only.

[2020-03-09 17:33] colinrtwhite commented on #159
@svenjacobs Hardware bitmaps are a pretty big optimization so I'd want to avoid disabling them. For the crashes, can you let me know if the devices you saw crashes for are in [this list](https://github.com/coil-kt/coil/pull/308/files#diff-883ba973c0c10e1649f2909ff934fd33R121)? There are a number of devices with hardware-specific issues that I'm working on blocking.

[2020-03-09 17:42] colinrtwhite commented on #310
Unfortunately, I don't think there's a great way to accomplish this at the moment. That said, I definitely want an even listener API similar to [`OkHttp's`](https://square.github.io/okhttp/4.x/okhttp/okhttp3/-event-listener/) before 1.0. Hopefully it can be part of `0.10.0`, however no promises.

Going to mark this as an enhancement and track progress on the feature here.

[2020-03-09 18:03] matir91 commented on #159
I'm facing the same issue in two different devices that are not in the list
Devices:
One Plus 5: A5000 - Android 9
Pixel 2: walleye - Android 10

Code:
[code]
`url` is a local image file, for example: file:///storage/emulated/0/DCIM/Camera/IMG_20200219_145106.jpg

[2020-03-10 04:29] colinrtwhite commented on #159
Hmm that's interesting. What's the stacktrace you're seeing?

[2020-03-10 08:26] svenjacobs commented on #159
Here's a list of devices as reported by Firebase Crashlytics that crash with a  "Software rendering doesn't support hardware bitmaps" during a shared element transition:

**Android 8.1**

A3
A60
Aquaris X
Aquaris X Pro
BlackBerry KEY2 LE
Blackview BV9500Pro
Cat S61
CUBOT_NOVA
CUBOT_POWER
Desire 12s
Galaxy J5
Galaxy J7 (2016)
Galaxy J7 Max
Galaxy J7 Prime
Galaxy Tab A (2016)
Gigaset GS270
Gigaset G

[2020-03-10 14:02] matir91 commented on #159
<details>
<summary>Stacktrace</summary>

[code]
</details>

I've been testing a bit more. My app has a rv with some images (a photo gallery) and the crash happens when I call `notifyDataSetChanged()`.

[2020-03-13 11:06] XtreeIvI opened #312 "Crash"
**Describe the bug**
Crash while running code in Activity

                    imageView.load(banner.image) {
                        crossfade(true)
                        placeholder(R.drawable.img_doctor_avatar_placeholder_offset)
                    }

Maybe there is underlying libs conflict with forced dependencies?

**Expected behavior**
Image Load

**To Reproduce**
Just Run App

**Logs/Scr

[2020-03-14 09:00] colinrtwhite commented on #312
`java.lang.NoSuchFieldError: coil.decode.DecodeUtils` seems like it might be an R8 shrinking issue. I'd take a look at your shrinking rules.

[2020-03-16 06:40] ahmaducg opened #317 "GIF is not starting"
I'm trying to test the GIF part of the library, but it doesn't seem to start the GIF.

[code]

Is there something I'm doing wrong? I tested it on Android 10, and Android 5.

There are no examples of usage for a GIF, which made it obscure on what could be missing.

[2020-03-16 21:54] colinrtwhite commented on #317
Hmm that should work as intended. Maybe the GIF doesn't have the correct file headers? If you run `DecodeUtils.isGif(resources.openRawResource(R.drawable. splash_screen_gif).source().buffer()` does it return true?

[2020-03-17 04:33] matir91 commented on #159
Hey @colinrtwhite I've tested it in the ShadowLayout library sample app and it's crashing, [here is the example code](https://github.com/xmartlabs/ShadowLayout/tree/coil-integration), so you can try it.
I'm running basically this line:
[code]
After a few seconds, the app crashes with the same issue.
I've used a Pixel 2 to test it

[2020-03-17 04:53] colinrtwhite commented on #159
@matir91 Ah thanks for the sample code - sorry missed the last message. I believe this is working as intended as ShadowLayout doesn't seem to support hardware acceleration. [Here](https://github.com/Devlight/ShadowLayout/blob/61d6aec0e93220a24abc64b620c85a718368fcd6/library/src/main/java/com/gigamole/library/ShadowLayout.java#L237) it's substituting the backing bitmap for the canvas with a softwar

[2020-03-17 05:04] matir91 commented on #159
Cool, thanks for explain me the cause of this issue! Yes, I can do it. I just wanted to be sure that this issue was not related to something wrong in this library. Thanks!

[2020-03-17 09:30] ahmaducg commented on #317
I tried it with an online gif too, doesn't work.

As a note, the GIF works well with Glide.

[2020-03-19 06:33] #310 closed

[2020-03-19 14:58] Tolriq commented on #305
@colinrtwhite now that there's the listener API I made a quick test to measure things for my large image in cache size requirement.

Using the sample with full images more or less represent my need (Those numbers can be reduced by using an intermediary cache where I would resize the image to lower size, but those size would still be high to allow full quality full screen images without loss) and t

[2020-03-19 19:10] colinrtwhite commented on #305
@Tolriq Thanks for the performance numbers. As I mentioned I don't think it's straightforward to add an API to Coil for this. Coil relies on OkHttp's cache, which doesn't allow us to make transformations to the image between network -> disk cache.

The best way to accomplish transforming the image before it's cached is to add an `Interceptor` to your `OkHttpClient` instance and transform the Respo

[2020-03-19 19:16] colinrtwhite commented on #317
Can you link me to the GIF?

[2020-03-19 19:16] #312 closed

[2020-03-19 19:31] Tolriq commented on #305
@colinrtwhite I can handle the reducing of the images with a fetcher it's not the issue here.

The issue is about a cache of the transformed image like you have a memory cache, even if I reduce the 4k images to 2k images for high res tablet this is still 2k images to load from disk cache then resize then apply transformations then display in lists.
When using the sample with full images memory cac

[2020-03-20 01:32] #236 closed

[2020-03-20 19:01] fjr619 opened #320 "Strange behaviour of crossfade"
i have viewpager to display banner, but there are problems:

[code]
this code will give me : banner will load smaller size first, then when i swipe to next page and back to previous, banner will show correct size

  --
[code]
this code will give me : banner will show correct size

--
[code]
this code will give me : banner will show correct size

note: bannerList[position].image is URL

so my quest

[2020-03-24 06:21] colinrtwhite commented on #320
Hmm it sounds the like there might be a scaling issue when adding a placeholder. `crossfade(true)` should correctly scale the drawable inside the view. Is `view` a custom `ImageView`? If you create a small sample project I can take a look.

[2020-03-25 19:52] theScrabi opened #324 "Does Coil load into Drawable?"
I currently have the issue that I need to render html with images into TextViews.
This is possible with the [`Html.ImageGetter`](https://developer.android.com/reference/android/text/Html.ImageGetter).
However when I load the html the images are not loaded yet, so I display a placeholder as image and want to load the images by triggering coil. I can do this by using a drawable that first displayes

[2020-03-25 20:01] theScrabi commented on #324
Or to make it more human understandibly: I want a way that Coil can render asynchronously into a drawable.

[2020-03-25 20:07] theScrabi commented on #324
Ah just use Kotlin coroutines and `Coil.get()`.
Uff I'm new to kotlin

[2020-03-25 20:07] #324 closed

[2020-03-25 20:22] colinrtwhite commented on #324
You can implement a custom [`Target`](https://coil-kt.github.io/coil/api/coil-base/coil.target/-target/) and set the placeholder for your request using [`LoadRequestBuilder.placeholder`](https://coil-kt.github.io/coil/api/coil-base/coil.request/-load-request-builder/).

[2020-03-25 20:31] Jawnnypoo commented on #324
BTW @theScrabi , big fan of your work on NewPipe 😄 Here is an implementation of an `Html.Getter` that I created and am using in a few projects:

https://github.com/Commit451/coil-imagegetter

[2020-03-26 10:18] SudarshanGangurde opened #325 "Resizing of the images does not work"
**Describe the bug**
I am having 100\*100 pixel thumbnail image & I resize it to the 500\*500 pixel. I am using the same in recycler view so on the first launch it shows the properly resized image but when I go back & come again then the image is not getting resize.

**Expected behavior**
The image should get resized.

**To Reproduce**
1. Take 100\*100 pixel image
2. Show the same image in the rec